{% extends 'default/base.html.twig' %}

{% block myjavascripts %}
 <script> var NOINVITATION = {{ noinvitation }}; </script>
 <script  src="{{ asset('js/gerer_collaborateurs.js') }}" ></script>
{% endblock myjavascripts %}


{# ######################################################################### #}

{# Reprise du code de symfony... et modification !

   Surcharges Twig:
         - collection_widget
         - collection_item_widget (modifie prototype)
         - API row.vars.block_prefixes.1...
           cf. https://stackoverflow.com/questions/13196689/how-to-get-input-form-type

   Attention, fonctionne en lien avec gerer_collaborateurs.js

#}

{% block collection_widget %}
    {% apply spaceless %}
    <div class="collection">
    {% if prototype is defined %}
            {# block('collection_item_widget') ne peut être appelé qu'une seule fois autrement il y aura des problèmes #}
            {% set protoline = block('collection_item_widget') %}
            {% set attr = attr|merge({'data-prototype': protoline }) %}
            {% set attr = attr|merge({'data-count': '0' }) %}
            {% set attr = attr|merge({'data-mail_autocomplete': path('mail_autocomplete') }) %}
    {% endif %}

        <div class="collection-contents" {{ block('widget_container_attributes') }}>
             {{ form_errors(form) }}
            <table id="profil_horiz">
                <thead>
                    <tr>
                    {% if form[0] is defined %}
                        {% for item in form[0] %}
                            {% if "hidden"  not in item.vars.block_prefixes.1 %}
                            <td>{{ form_label(item) }}</td>
                            {% else %}
                            <td style="display:NONE"></td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                     </tr>
                </thead>

                <tbody class="collection-tbody">
                {% set rowNum = 0 %}
                {% for rows in form %}
                    {% if rows.vars.data.responsable is defined and rows.vars.data.responsable %} {# accès à la donnée via PHP #}
                        {% set resp = 'resp' %}{% else %}{% set resp = '' %}
                    {% endif %}
                    {% if rows.vars.data.delete is defined and rows.vars.data.delete %} {# accès à la donnée via PHP #}
                        {% set suppr = 'suppr' %}{% else %}{% set suppr = '' %}
                    {% endif %}
                   <tr>
                        {% set fieldNum = 1 %}
                        {% for row in rows %}
                            {% if "hidden"  not in row.vars.block_prefixes.1 %} {# important pour tester le type du champs #}
                            <td class="collection-tbody-old  {{resp}} {{suppr}}">
                            {% else %}
                            <td style="display:NONE">
                            {% endif %}
                                {{ form_widget(row) }}
                            </td>
                        {% endfor %}
                    </tr>
                {% set rowNum = rowNum + 1 %}
                {% endfor %}

                {# nous ajoutons la nouvelle ligne du prototype d'une manière manuelle #}

                {% if prototype is defined %}
                    {{ protoline | replace({ '__name__' : rowNum })  | raw }}
                {% endif %}

                </tbody>
            </table>
            {{ form_rest(form) }}

        </div>
        <div id="dialog-collaborateur" title="Suppression de login !"></div>
        <div id="dialog-suppression" title="Suppression de collaborateur !"></div>
        <div id="dialog-invitation" title="Inviter un nouveau collaborateur"></div>
        
    </div>

    {% endapply %}
{% endblock collection_widget %}

{# ######################################################################### #}

{% block collection_item_widget %}
{% apply spaceless %}
    <tr>
    {% set fieldNum = 1 %}
    {% for row in prototype %}
        {% if "hidden"  not in row.vars.block_prefixes.1 %} {# important pour tester le type du champs #}
        <td class="collection-tbody-new">
        {% endif %}
        {# {{ form_widget(row, { 'attr': { 'class': 'collection-tbody-new' }}) }} #}
        {{ form_widget(row) }}
        {% if "hidden"  not in row.vars.block_prefixes.1 %} {# important pour tester le type du champs #}
        </td>
        {% endif %}
        {% set fieldNum = fieldNum + 1 %}
    {% endfor %}
    </tr>
{% endapply %}
{% endblock collection_item_widget %}

{# ######################################################################### #}


{% block body %}
    <h2>Modifier la liste des collaborateurs - projet {{ projet }} (session {{ session }})</h2>
    <div class="information ok">
    {% if resp_peut_modif_collabs %}
        <div class="message info">
            <p><strong>Pour ajouter un collaborateur:</strong></p>
            <ol>
            <li>Ajoutez votre collaborateur <strong>en commençant par l'adresse mail</strong></li>
            <li>Renseignez <strong>au moins</strong> le prénom et le nom</li>
            <li>Eventuellement ajoutez une ligne au formulaire pour entrer un nouveau collaborateur</li>
            <li>Cliquez sur le bouton <strong>Sauvegarder</strong></li>
            </ol>
    
            <p><strong>NOTE - </strong> Il <em>n'est pas nécessaire</em> de déclarer ici les personnes qui collaborent au projet
            sans utiliser la machine (c-à-d les personnes n'ayant pas de login calcul ou données)</p>
        </div>
    {% else %}
        <div class="message info">
            <p><strong>Pour ajouter un collaborateur:</strong></p>
            <ol>
            <li>Renseignez <strong>d'abord</strong> son adresse de courriel, <strong>puis</strong> ses nom et prénom</li>
            <li>Il ou elle pourra recevoir une invitation pour se connecter à cette plateforme, et <strong>complètera son profil</strong> à cette occasion</li>
            <li>Eventuellement ajoutez une ligne au formulaire pour entrer à nouveau un <strong>collaborateur</strong></li>
            <li>Cliquez sur le bouton <strong>Sauvegarder</strong></li>
            </ol>
        
            <p><strong>NOTE - </strong> Il <em>n'est pas nécessaire</em> de déclarer ici les personnes qui collaborent au projet
            mais qui ne demandent pas d'accès aux services de calcul ou de données - <strong>Au moins une personne</strong> doit avoir un login !</p>
        </div>
    {% endif %}
</div>

<div id="liste_des_collaborateurs">
    {% form_theme collaborateur_form _self %}
    {{ form_start(collaborateur_form) }}
    {{ form_widget(collaborateur_form) }}
    {{ form_end(collaborateur_form) }}
</div>

{% endblock %}
