{% extends 'default/base.html.twig' %}


{% block body %}

<section>
    <h2>Téléversement de la fiche projet</h2>
    {% if serviceVersions.signe(version) == false %}
        <div class="information attention">Le fichier doit être <strong>un pdf de taille inférieure à {{max_size_doc}} Mo</strong></div>

        <div class="televerser inputrond">
            {{ form_start( form  )  }}
                <p><label><strong>Fiche projet à téléverser </strong>{{ form_widget( form.fichier ) }}
                <input name="submit" value="Téléverser" type="submit"></p>
            {{ form_end(form) }}
        </div>
    {% else %}
        <p class="centrage"><em>La fiche a déjà été téléchargée</em></p>
    {% endif %}
    <p>&nbsp;</p>
    {% if( not ( version == null ) and  not ( version.projet == null )   ) %}
    <nav>
        <ul>
            <li>
                <a class="lien_actif" href="{{path('consulter_projet',{'id':version.projet.idProjet})}}" title="">Retourner à la page du projet {{  version.projet }}</a>
            </li>
        </ul>
    </nav>
    {% endif %}

</section>

{% endblock body %}
