{% extends 'default/base.html.twig' %}

{% block body %}
<section>
<h2>Ajouter une formation</h2>
    {% import "default/macros.html.twig" as gramcmacros %}
    {{ gramcmacros.menu(menu) }}
    <div class="information">
        <p>Les numéros d'ordre doivent être compris entre <strong>0 et 10</strong> (pas plus de 10 formations) et être <strong>différents</strong>.<br>
        Ils sont reliés aux champs demFormN de la table version</p>
    </div>
    
    {{ form_start(form) }}
    <table>
        <tr>
            <th>{{ form_label(form.numeroform) }}</th>
            <td>{{ form_widget(form.numeroform) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.acroform) }}</th>
            <td>{{ form_widget(form.acroform) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.nomform) }}</th>
            <td>{{ form_widget(form.nomform) }}</td>
        </tr>
        <tr>
            <th></th>
            <td class="inputrond submitdyn">{{ form_widget(form.submit) }}{{ form_widget(form.reset) }}</td>
        </tr>    
    </table>
    {{ form_end(form) }}
</section>

{% endblock body %}
