{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %} 

       
{# ######################################################################### #}

{% block body %}
<section class="section_administrateur">
    <h2>Menu</h2>
    <div>
        <h3>Les utilisateurs</h3>
        {{ gramcmacros.menu(menu1) }}
    </div>
    <div>
        <h3>Les projets</h3>
        {{ gramcmacros.menu(menu3) }}
    </div>
    <div>
        <h3>Les sessions</h3>
        {{ gramcmacros.menu(menu2) }}
    </div>
    <div>
        <h3>Tables de l'application</h3>
        {{ gramcmacros.menu(menu4) }}
    </div>
    <div>
        <h3>Bilans et statistiques</h3>
        {{ gramcmacros.menu(menu5) }}
    </div>
    <div>
        <h3>Maintenance</h3>
        {{ gramcmacros.menu(menu6) }}
    </div>
</section>
{% endblock body %}
