{# app/Resources/views/default/connexions.html.twig #}
{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}

{% block body %}
<section>

{# message #}

{% if is_granted('ROLE_ADMIN') %}

<h2>Les personnes connectées</h2>

<table>
<tbody>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Mail</th>
        <th>Admin</th>
        <th>Expert</th>
        <th>Président</th>
{#        <th>Laboratoire</th>     #}
        <th>dernier accès (h:mn)</th>
    </tr>

    {% for item in connexions %}
        {% if item.user != null %}
            {% if (item.user.desactive==true) %}
            <tr class="alerte" title="CET UTILISATEUR EST DESACTIVE !!!">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ item.user.prenom }}</td>
                <td>{{ item.user.nom }}</td>
                <td>{{ item.user.mail }}</td> 
                <td>{% if( not ( item.user.admin == null ) ) %}<span title="administrateur">{{icones.valide}}</span>{% endif %}</td> 
                <td>{% if( not ( item.user.expert == null ) ) %}<span title="expert">{{icones.valide}}</span>{% endif %}</td>
                <td>{% if( not ( item.user.president == null ) ) %}<span title="president">{{icones.valide}}</span>{% endif %}</td> 
                {#<td>{% if( not ( item.user.labo == null ) ) %}{{ item.user.labo.getAcroLabo }}{% endif %}</td>#}
                <td>{{ item.heures }} : {{ item.minutes }}</td>
            </tr>
        {% elseif item.rest_user != null %}
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td>{{ item.rest_user.username }}</td> 
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td>{{ item.heures }} : {{ item.minutes }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</tbody>
</table>



{% endif %}
</section>
<br>
{% endblock %}
