{# Affichage d'un panneau comportant plusieurs boutons:
    Enregistrer / Annuler / Fermer
    plus d'autres boutons suivant les cas
    Utilisé par les écrans d'experts et de résident
    Utilisé aussi aussi par les utilisateurs dans leurs pages de projets
#}



{#
    Les paramètres:
        form = Le formulaire auquel apprtiennent les boutons
        peut_envoyer = Si true on ajoute le bouton envoyer
        prev (opt) = Objet précédent
        next (opt) = Objet suivant
        route = utile seulement si prev ou next est non null !
#}

{% macro panneau_enregistrer(form,peut_envoyer,prev=null,next=null,route="") %}
{% import "default/icone.html.twig" as icones %}
    <div id="panneau_enregistrer">
        <div class="panneau">
            <div class="boutons">
                {{ form_widget(form.enregistrer, {'attr': {'title' : 'Enregistrer l\'expertise et continuer'}}) }}
                {{ form_widget( form.annuler,{ 'attr': { 'title' : 'Abandonner les modifications' } }) }}
                {{ form_widget( form.fermer, { 'attr': { 'title' : 'Enregistrer et fermer l\'expertise' } }) }}
            </div>
            {% if prev != null or next != null %}
            <div class="fleches">
                {% if prev!=null %}
                    <a href="{{ path(route, { 'id' : prev.id } ) }}" class="fleche" title="Ecran précédent" >{{icones.fleche_gauche}}</a>
                {% else %}
                    <a class="fleche disabled" title="Pas d'expertise précédente" >{{icones.fleche_gauche}}</a>
                {% endif %}
                {% if next!=null %}
                    <a href="{{ path(route, { 'id' : next.id } ) }}"class="fleche" title="Ecran suivant" >{{icones.fleche_droite}}</a>
                {% else %}
                    <a class="fleche disabled" title="Pas d'expertise suivante" >{{icones.fleche_droite}}</a>
                {% endif %}
            </div>
            {% endif %}

            {% if peut_envoyer %}
                <div class="boutons envoyer">
                    {{ form_widget(form.envoyer) }}
                </div>
            {% endif %}
    
        </div>    
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


{% endmacro %}
