{# Téléversement de documents joints à partir d'un tableau de tableaux
   cf. VersionSpecController::modifierType1
       modifier_projet_sess.partie_I.html.twig
       ServiceVersions::imageProperties
#}

{% macro upload_images(version, images) %}
    {% for img in images %}
    <div class="figures">
        <div>
            <div id = "{{img.name}}">
                {% if img.contents is defined  %}
                    <img class="figure" src="data:image/jpg;base64,{{ img.contents }}" data-width="{{ img.width }}" data-height="{{ img.height }}" alt="{{img.displayName}}" title="cliquez pour afficher la figure en taille réelle">
                {% else %}
                    <img class="figure" src="toto.jpg" >
                {% endif %}
            </div>
            <p>{{img.displayName}} <a class="fileremover"  {% if img.contents is defined %}style="display:inline"{% else %}style="display:none"{% endif %} href="#" data-href="{{path('version_supprimer_fichier', { 'id' : version.idVersion, 'filename' : img.name }) }}">SUPPR</a></p>
        </div>
    </div>
    {% endfor %}
    
    {% for img in images %}
    <div class="uploadstatus"></div>
    <div class="fileuploader">
        <a href="{{ path('televerser', { 'id' : version.idVersion, 'filename' : img.name } ) }}" target="_blank" >
            <strong>{{img.displayName}}</strong>
        </a>
    </div>
    {% endfor %}

{% endmacro %}

{# Affichage de documents joints (images) à partir d'un tableau de tableaux
   cf. ProjetSpecController::consulterAction
       consulter_projet_sess.html.twig
       ServiceVersions::imageProperties
#}

{% macro display_images(images) %}
    <div class="figures">
        {% for img in images %}
            {% if img.contents is defined %}
                <div>
                    <img class="figure" src="data:image/png;base64,{{ img.contents }}" data-width="{{ img.width }}" data-height="{{ img.height }}" alt="{{ img.displayName }}" title="cliquez pour afficher la figure en taille réelle">
                    <p>{{ img.displayName }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
