{# ################################################## #}
{# Quelques constantes (PAS JOLI, PROVISOIRE)         #}

{% import _self as macros %}

{# Affichage d'une icone à partir d'une valeur #}

{% macro menuIcones(value) %}

    {% import "default/icone.html.twig" as icones %}

    {% if value == "indefinit" %}
        {{icones.indefinit}}
    {% elseif value == "scrollTop" %}
        {{icones.scrollTop}}
    {% elseif value == "nouveauProjet" %}
        {{icones.nouveauProjet}}
    {% elseif value == "details" %}
        {{icones.details}}
    {% elseif value == "supprimer" %}
        {{icones.supprimer}}
    {% elseif value == "consommation" %}
        {{icones.consommation}}
    {% elseif value == "termine" %}
        {{icones.termine}}
    {% elseif value == "valide" %}
        {{icones.valide}}
    {% elseif value == "accepte" %}
        {{icones.accepte}}
    {% elseif value == "renouveler" %}
        {{icones.renouveler}}
    {% elseif value == "edition" %}
        {{icones.edition}}
    {% elseif value == "modifier" %}
        {{icones.modifier}}
    {% elseif value == "envoyer" %}
        {{icones.envoyer}}
    {% elseif value == "telecharger" %}
        {{icones.telecharger}}
    {% elseif value == "televerser" %}
        {{icones.televerser}}
    {% elseif value == "pdf" %}
        {{icones.pdf}}
    {% elseif value == "fleche_retour" %}
        {{icones.fleche_retour}}
    {% elseif value == "trait_summary" %}
        {{icones.trait_summary}}
    {% elseif value == "plus_summary" %}
        {{icones.plus_summary}}
    {% elseif value == "fleche_gauche" %}
        {{icones.fleche_gauche}}
    {% elseif value == "fleche_droite" %}
        {{icones.fleche_droite}}
    {% elseif value == "liste_utilisateur" %}
        {{icones.liste_utilisateur}}
    {% elseif value == "projet_session" %}
        {{icones.projet_session}}
    {% elseif value == "annee" %}
        {{icones.annee}}
    {% elseif value == "tous" %}
        {{icones.tous}}
    {% elseif value == "donnees" %}
        {{icones.donnees}}
    {% elseif value == "televersement_generique" %}
        {{icones.televersement_generique}}
    {% elseif value == "sessions" %}
        {{icones.sessions}}
    {% elseif value == "bilan" %}
        {{icones.bilan}}
    {% elseif value == "formation" %}
        {{icones.formation}}
    {% elseif value == "mail" %}
        {{icones.mail}}
    {% elseif value == "laboratoire" %}
        {{icones.laboratoire}}
    {% elseif value == "rattachement" %}
        {{icones.rattachement}}
    {% elseif value == "thematique" %}
        {{icones.thematique}}
    {% elseif value == "statistiques" %}
        {{icones.statistiques}}
    {% elseif value == "publications" %}
        {{icones.publications}}
    {% elseif value == "lire_journal" %}
        {{icones.lire_journal}}
    {% elseif value == "personnes_connectees" %}
        {{icones.personnes_connectees}}
    {% elseif value == "avancer_temps" %}
        {{icones.avancer_temps}}
    {% elseif value == "nettoyage" %}
        {{icones.nettoyage}}
    {% elseif value == "technique" %}
        {{icones.technique}}
    {% elseif value == "euro" %}
        {{icones.euro}}
    {% elseif value == "mail_send" %}
        {{icones.mail_send}}
    {% elseif value == "process_stop" %}
        {{icones.process_stop}}
    {% elseif value == "nepasterminer" %}
        {{icones.nepasterminer}}
    {% elseif value == "onpeutterminer" %}
        {{icones.onpeutterminer}}
    {% elseif value == "attente" %}
        {{icones.attente}}
    {% elseif value == "standby" %}
        {{icones.standby}}
    {% elseif value == "agarder" %}
        {{icones.agarder}}
    {% elseif value == "expertise" %}
        {{icones.expertise}}
    {% elseif value == "nonrenouvele" %}
        {{icones.nonrenouvele}}
    {% elseif value == "back" %}
        {{icones.back}}
    {% elseif value == "forward" %}
        {{icones.forward}}
    {% elseif value == "bientotactif" %}
        {{icones.bientotactif}}
    {% elseif value == "refuse" %}
        {{icones.refuse}}
    {% elseif value == "forbidden" %}
        {{icones.forbidden}}
    {% elseif value == "expert" %}
        {{icones.expert}}
    {% elseif value == "president" %}
        {{icones.president}}
    {% elseif value == "admin" %}
        {{icones.admin}}
    {% elseif value == "obs" %}
        {{icones.obs}}
    {% elseif value == "sysadmin" %}
        {{icones.sysadmin}}
    {% elseif value == "attention" %}
        {{icones.attention}}
    {% elseif value == "norecup" %}
        {{icones.norecup}}
    {% elseif value == "recup" %}
        {{icones.recup}}
    {% endif %}

{% endmacro %}


{# ################################################## #}
{# Affichage d'un menu à partir d'un array d'array  (cf. lib/navigation.php)
#}

{% macro menu(menu) %}

{% from _self import menuIcones %}

{# Variable à faire passer dans la macro des icones (celle-ci sert à appeler l'icone indefinit) #}
{% set indefinit = "indefinit" %}


<nav>
    <ul>
        {% for item in menu %}
        {% if not item==null %}
            {% if item.ok %}
            <li {% if item.priorite is defined %}
                    class="priorite{{item.priorite}}"
                {% endif %}
            ><a class="lien_actif" title="{{ item.commentaire }}"
                    {% if item.param is defined %}
                        href="{{ path(item.name, { 'id' : item.param }) }}"
                    {% elseif item.params is defined %}
                        href="{{ path(item.name, item.params) }}"
                    {% else %}
                        href="{{ path(item.name) }}"
                    {% endif %}
                >
                {% if item.icone is defined %}
                   {{ menuIcones(item.icone) }} {{ item.lien }}</a>
                {% else %}
                   {{ menuIcones(indefinit) }} {{ item.lien }}</a>
                {% endif %}
            </li>
            {% else %}
            <li {% if item.priorite is defined %}
                    class="priorite{{item.priorite}}"
                {% endif %}
            ><a class="lien_inactif"
                {% if  app.debug %}
                    {% if item.param is defined %}
                        href="{{ path(item.name, { 'id' : item.param }) }}"
                    {% elseif item.params is defined %}
                        href="{{ path(item.name, item.params) }}"
                    {% else %}
                        href="{{ path(item.name) }}"
                    {% endif %}
                {% endif %}
                title="{{ item.commentaire }} - {{ item.raison }}"
                >
                {% if item.icone is defined %}
                    {{ menuIcones(item.icone) }} {{ item.lien }}</a>
                {% else %}
                    {{ menuIcones(indefinit) }} {{ item.lien }}</a>
                {% endif %}
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <li class="more">En voir plus...</li>
    </ul>
</nav>
{% endmacro %}


{# ################################################# #}
{# Portage de chaines.php                            #}
{# ################################################# #}

{% macro nbsp(chaine) %}
{% for c in chaine|split(' ') %}{{ c }}&nbsp;{% endfor %}
{% endmacro %}

{% macro tronquer_chaine(chaine,longueur) %}
{% if chaine|length > longueur %}<span title="{{ chaine }}">{{ chaine|slice(0,longueur) }}...</span>{% else %}{{ chaine }}{% endif %}
{% endmacro %}

{% macro parse_libelle_acro(libelle) %}
{{ libelle|split(' - ')|first }}
{% endmacro %}

{% macro parse_libelle_l(libelle) %}
{{ libelle|split(' - ')|last }}
{% endmacro %}

{# #################################################### #}
{# Affichage des méta etats par une icône svg           #}
{# #################################################### #}

{% macro metagraph(etat) %}
{% from _self import menuIcones %}
{% set svg=etat|lower %}
<span class="invisible">{{etat}}</span><span title="{{etat}}">{{ menuIcones(svg)}}</span>
{% endmacro %}

{# ################################################# #}
{# Affichage d'un titre de version ou de projet      #}
{# ################################################# #}

{% macro afftitre(titre) %}
    {% import _self as macros %}
    <span title="{{ titre }}">{{ macros.tronquer_chaine(titre,20) }}</span>
{% endmacro %}

{# ################################################# #}
{# Téléversement d'images                            #}
{# ################################################# #}

{% macro info_televersement(img_1,img_2,img_3) %}
    <div>
        <h4>Téléversement classique :</h4>
        <ul style="text-align: left;">
            <li>
                <strong>Figure 1 {{ form_errors( img_1.filename ) }}</strong>
                {{ form_widget( img_1.filename ) }}{{ form_widget( img_1.image ) }}
            </li>
            <li>
                <strong>Figure 2 {{ form_errors( img_2.filename ) }}</strong>
                {{ form_widget( img_2.filename ) }}{{ form_widget( img_2.image ) }}
            </li>
            <li>
                <strong>Figure 3 {{ form_errors( img_3.filename ) }}</strong>
                {{ form_widget( img_3.filename ) }}{{ form_widget( img_3.image ) }}
            </li>
        </ul>
        <em>Cliquez sur <strong>FERMER</strong> pour téléverser définitivement vos figures</em>
        <div class="quitter" >
            <button type="submit" id="form_fermer" name="form[fermer]" title="Enregistrer et fermer le projet">Fermer</button>
        </div>
    </div>
    <div>
        <h4>Téléversement par glisser-déposer :</h4>
        Vous pouvez téléverser des figures pour illustrer vos propos.
        <ol style="text-align:left" >
            <li><strong>Merci de redimensionner</strong> au préalable vos images à <strong>800x400 pixels max</strong></li>
            <li>Vous pouvez glisser-déposer vos fichiers dans l'une des zônes ci-dessus</li>
        </ol>
    </div>
{% endmacro %}


