{% extends 'default/base.html.twig' %}

{% import "default/icone.html.twig" as icones %}


{% block body %}
<section id="section_commentaire_annee">
    <div class="top_body">
        <div class="retour">
            <a title="Retour à l'espace Experts" href="{{ path('expertise_liste') }}"> {{icones.fleche_retour}}
                Retour
            </a>
        </div>
    </div>
    {% import "default/macros.html.twig" as gramcmacros %}

    <h2>Les projets que vous avez expertisés en {{commentaireExpert.annee}} <small>(sessions {% for s in sessions %}{{s}} {% endfor %})</small></h2>

    <table id="old_expertises">
    <thead>
        <tr>
            <th>Projet</th>
            <th>&nbsp;</th>
            <th>Titre</th>
            <th>Responsable</th>
        </tr>
    </thead>
    <tbody>
        {% for p, expertise in expertises_annee %}
        <tr>
            <td>{{ p }}</td>
            <td>
                <a href="{{ path('consulter_version', { 'id' : p, 'version' : expertise.version } ) }}" title="Lire le projet" target="_blank" >
                    {{icones.details}}
                </a>
            </td>
            <td>{{ expertise.version.projet.titre }}</td>
            <td>{{ expertise.version.responsable }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {{ form_start(edit_form) }}

    <h2>Commentaires sur l'année écoulée </h2>


    <div class="textarea">
		<div>
			<p>Entrez ici votre commentaire en tant que membre du Comité d'Attributions, à propos de l'année {{commentaireExpert.annee}}:</p>
            <ul>
                <li>Sujets qui prennent de l'importance</li>
                <li>Sujets en perte de vitesse</li>
                <li>Tendances sur les nombres d'heures demandées et attribuées</li>
                <li><strong>Choix d'un projet "coup de cœur"</strong> (merci d'en choisir un seul et d'argumenter votre choix)</li>
            </ul>
		</div>
        <div class="text_form">
		    {{ form_widget(edit_form.commentaire,{ 'attr': { 'rows' : 12, 'cols' : 70 } }) }}
            <div class="fin_form">
                {{ form_widget(edit_form.submit) }}
                {{ form_widget(edit_form.reset) }}
            </div>
        </div>
	</div>
        
    {{ form_end(edit_form) }}

</section>
{% endblock body %}
