{% extends 'default/base.html.twig' %}


{% import "default/macros.html.twig" as gramcmacros %}
{% import _self as thismacro %}
{% import "default/icone.html.twig" as icones %}

{# ################################################# #}


{% macro ligne_projet(item) %}
{% if item.cpt_rall + 1 > 1 %}
    <tr class="rallonge">
    {% else %}
    <tr>
    {% endif %}
        <td><span title="{{item.meta_etat}}" style="height:16">{{ gramcmacros.metagraph(item.meta_etat) }}</span> </td>
        
        <td><a href="{{ path('consulter_projet', { 'id': item.projet.idProjet })}}" title="Ouvrir le projet {{ item.projet.idProjet }}">
            {{ icones.details }}
            </a>
            {% if( item.projet.derniereVersion.isEdited ) %}&nbsp;<a href="{{ path('version_avant_supprimer', { 'id': item.projet.derniereVersion.idVersion })}}" title="Supprimer le projet {{ item.projet.idProjet }}">
                {{ icones.supprimer }}
            </a>
            {% endif %}
        </td>

        <td>{{ item.projet.idProjet }}</td>
        
        {% if noconso==false %}
            <td rowspan="{{ item.cpt_rall + 1 }}">
                {% if item.login == 'nologin' %}
                    - 
                {% else %} 
                    {{item.login}} 
                {% endif %}
                {% if item.passwd != null %}
                    &nbsp;&nbsp;<img id="bouton_{{item.projet}}" class="bouton_poussoir cadenas" src="{{ asset('icones/cadenas.png') }}" alt="Donnez-moi mon mot de passe" title="Donnez-moi mon mot de passe" /></a> {% endif %}
                {% endif %}
            </td>
        
        <td rowspan="{{ item.cpt_rall + 1 }}">
            {% if item.projet.titre != null %}
                {{ item.projet.titre }}
            {% else %}
                -
            {% endif %}
        </td>

        {% if noconso==false %}
        
            {% if item.conso < conso_seuil_1 %}
                <td rowspan="{{ item.cpt_rall + 1 }}" class="consommation seuil_0">{{ item.conso |number_format(1)}}&nbsp;%</td>
                
                <td rowspan="{{ item.cpt_rall + 1 }}" class="consommation seuil_0" title="Evolution de la consommation">

                    <div alt="Evolution de la consommation" class="conso"  id="bconso_{{ item.projet.idProjet }}" data-href="{{ absolute_url(path('projet_conso', { 'id': item.projet.idProjet, 'loginname': item.login, 'annee' : item.projet.derniereVersion.getFullAnnee() })) }}">
                        {{ icones.consommation }}
                    </div>

                </td>
            {% elseif item.conso < conso_seuil_2 %}
                <td rowspan="{{ item.cpt_rall + 1 }}" class="consommation seuil_1">{{ item.conso |number_format(1)}}&nbsp;%</td>
                
                <td rowspan="{{ item.cpt_rall + 1 }}" class="consommation seuil_1" title="Evolution de la consommation">

                    <div alt="Evolution de la consommation" class="conso"  id="bconso_{{ item.projet.idProjet }}" data-href="{{ absolute_url(path('projet_conso', { 'id': item.projet.idProjet, 'loginname': item.login, 'annee' : item.projet.derniereVersion.getFullAnnee() })) }}">
                        {{ icones.consommation }}
                    </div>

                </td>

            {% else %}
                <td rowspan="{{ item.cpt_rall + 1 }}" class="consommation seuil_2">{{ item.conso |number_format(1)}}&nbsp;%</td>
                
                <td rowspan="{{ item.cpt_rall + 1 }}" class="consommation seuil_2" title="Evolution de la consommation">

                    <div alt="Evolution de la consommation" class="conso"  id="bconso_{{ item.projet.idProjet }}" data-href="{{ absolute_url(path('projet_conso', { 'id': item.projet.idProjet, 'loginname': item.login, 'annee' : item.projet.derniereVersion.getFullAnnee() })) }}">
                        {{ icones.consommation }}
                    </div>

                </td>

            {% endif %}


        <input id="conso_{{ item.projet.idProjet }}" value="{{ item.conso |number_format(1)}}" type="hidden">
        {% endif %}
    </tr>

    {% set num_rallonge = 1 %}
    {% for rallonge in item.rallonges %}
    <tr>
        <td>{{ gramcmacros.metagraph(rallonge.getMetaEtat()) }}</td>
        <td>
            <a href="{{ path('rallonge_consulter', { 'id': rallonge.idRallonge })}}"
            {% if rallonge.getMetaEtat() == 'EDITION' %}
                title="Consulter cette rallonge" >
                {{ icones.modifier }}


            {% else %}
                title="Consulter cette rallonge" >{{icones.details}}
            {% endif %}
            </a>
        </td>
        <td>
            {% if num_rallonge == 1 %}
                <strong>Rallonge</strong>
            {% else %}
                <strong>Rallonge {{ num_rallonge }}</strong>
            {% endif %}
        </td>
        {% set num_rallonge = num_rallonge + 1 %}
    </tr>
    {% endfor %}

{% endmacro ligne_projet %}

{% macro fenetre_pwd(item) %}
{% if item.passwd != null %}
<div id="dialog_{{item.projet}}" class="invisible_if_no_js">
    <h2>Vos identifiants pour le projet {{item.projet}}</h2>
    <p>Vos identifiants pour le projet {{item.projet}} figurent ci-dessous:</p>
    <ul>
        <li>Nom d'utilisateur: <tt><strong>{{item.login}}</strong></tt></li>
        <li>Mot de passe: <tt><strong>{{item.passwd}}</strong></tt></li>
    </ul>
    
    <p>Vous devez maintenant vous connecter <strong>avant le {{item.pwd_expir|date('d/m/Y')}}</strong> sur le supercalculateur en utilisant les identifiants ci-dessus, puis <strong>changer votre mot de passe</strong>.
    Pour cela:
    <ol>
        <li>Connectez-vous sur Olympe</li>
        <li>Tapez:<pre>
ssh olympelogin1
passwd
</pre>
        </li>
        <li>Une fois le changement effectué, déconnectez-vous</li>
        <li>Le mot de passe sera mis à jour dans les 10 minutes.</li>
    </ol>
    </p>
</div>
{% endif %}
{% endmacro fenetre_pwd %}

{# ################################################# #}


{% block myjavascripts %}
<script  type="text/javascript" src="{{ asset('js/canvas_conso.js') }}" ></script>
<script  type="text/javascript" src="{{ asset('js/projet.js') }}" ></script>
{% endblock myjavascripts %}



{# ######################################################################### #}

{% block body %}

<div id="dialog-compta"></div>

<section id="section_demandeur" style="stroke:black">

<h1>Vos projets</h1>

{{ gramcmacros.menu(menu) }}


{# ######################################################################### #}

{% if projets_resp != null %}
<section class="section_responsable">
<h3>En tant que responsable:</h3>

<table class="projet">

    <thead>
        <tr>
            <th>État</th>
            <th>Accès</th>
            <th>Numéro</th>
            {% if noconso==false %}<th>Identifiant</th>{% endif %}
            <th>Titre</th>
            {% if noconso==false %}<th colspan="2">Consommation</th>{% endif %}
        </tr>
    </thead>

    <tbody>
    {% for item in  projets_resp %}
         {{ thismacro.ligne_projet(item) }}
    {% endfor %}
    
    </tbody>
</table>

{% for item in  projets_resp %}
     {{ thismacro.fenetre_pwd(item) }}
{% endfor %}

</section>
{%  endif %}

<input id="conso_seuil_2" value="{{ conso_seuil_2 }}" type="hidden">
<input id="conso_seuil_1" value="{{ conso_seuil_1 }}" type="hidden">

{# ######################################################################### #}

{% if projets_collab != null %}
<section class="section_collaborateur">

<h3>En tant que collaborateur:</h3>
<table class="projet">

    <thead>
        <tr>
            <th>État</th>
            <th>Accès</th>
            <th>Numéro</th>
            {% if noconso==false %}<th>Identifiant</th>{% endif %}
            <th>Titre</th>
            {% if noconso==false %}<th colspan="2">Consommation</th>{% endif %}
        </tr>
    </thead>

    <tbody>
    {% for item in  projets_collab %}
         {{ thismacro.ligne_projet(item) }}
    {% endfor %}
    </tbody>

</table>
{% for item in  projets_collab %}
     {{ thismacro.fenetre_pwd(item) }}
{% endfor %}
</section>

{%  endif %}

{% if projets_term != null %}
<section class="section_termine" style="stroke:black;">

<h3>Projets anciens ou terminés:</h3>


<div class="information attention">
    <h2>Anciens projets</h2>
Ces projets sont rappelés ici pour mémoire, mais vous ne <strong>pouvez pas</strong> les renouveler soit parce qu'ils sont terminés
soit parce que vous ne faites plus partie de leurs collaborateurs.
<br>
Vous pouvez toutefois les éditer pour <strong>ajouter des publications pour lesquelles vous avez utilisé les heures attribuées.</strong>
<br>
Si vous souhaiter demander des ressources, vous devez créer un nouveau projet
</div>


<table class="projet">

    <thead>
        <tr>
            <th>État</th>
            <th>Accès</th>
            <th>Numéro</th>
            <th>Titre</th>
        </tr>
    </thead>

    <tbody>
    {% for item in  projets_term %}
        <tr>
            <td>{{ gramcmacros.metagraph('termine') }}</td>
            <td>
                <a href="{{ path('consulter_projet', { 'id': item.idProjet })}}" title="Ouvrir le projet {{ item.idProjet }}">
                    {{ icones.details }}
                </a>
            </td>
            <td>{{ item.idProjet }}</td>
            <td>{{ item.titre }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
</section>



{%  endif %}

{# ######################################################################### #}


{% if projets_resp == null and projets_collab == null and projets_term == null %}
<div class="information ok">
Les utilisateurs qui ont le droit suffisant pour demander eux-mêmes des ressources sur {{mesoc}}
peuvent cliquer sur le lien 'Nouveau projet' pour faire une demande d'attributions de ressources.
<br>
Les autres utilisateurs doivent se rapprocher de leur équipe de recherche.
<br>
Il n'est possible de demander des ressources sur {{mesoc}} que pendant une session d'attribution.
</div>
{% endif %}

</section>
{% endblock body %}
