{# ################################################################ #}
{# Affichage des méta etats par une icône, utilisé essentiellement  #}
{# par demandeur.html.twig et rallonge/affectation.html.twig        #}
{# --> cf. aussi le fichier macros.html.twig                        #}
{# ################################################################ #}

{% macro meta_etat_graphique(etat) %}
    {% if etat == 'EXPERTISE' %}
        <img src="{{ asset('icones/expertise.png') }}"  alt="en expertise" title="En cours d'expertise" />
    
    {% elseif etat == 'EDITION' %}
        <div title="En cours de conception, N'OUBLIEZ PAS D'ENVOYER EN EXPERTISE !">
            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.768 5C19.5378 3.66666 21.4622 3.66666 22.232 5L34.7894 26.75C35.5592 28.0833 34.597 29.75 33.0574 29.75H7.94263C6.40303 29.75 5.44078 28.0833 6.21058 26.75L18.768 5Z" stroke="#D96800" stroke-width="2"/>
                <path d="M13.4127 21.4971L10.1794 26.7511C9.9744 27.0842 10.2141 27.5132 10.6052 27.5132H16.8026C17.3548 27.5132 17.8026 27.061 17.8026 26.5087C17.8026 24.7572 17.0372 23.0808 15.7073 21.9409L14.9151 21.2619C14.4485 20.8619 13.7348 20.9736 13.4127 21.4971Z" stroke="#D96800"/>
                <path d="M18.4024 21.4356C18.3231 21.7001 18.4732 21.9789 18.7377 22.0582C19.0022 22.1376 19.2809 21.9875 19.3603 21.723L18.4024 21.4356ZM20.4998 16.1846V15.6846H20.1278L20.0209 16.0409L20.4998 16.1846ZM25.3945 18.3425C25.3945 18.6186 25.6184 18.8425 25.8945 18.8425C26.1706 18.8425 26.3945 18.6186 26.3945 18.3425H25.3945ZM23.7366 19.9609H24.2366C24.2366 19.8415 24.1939 19.7261 24.1162 19.6355L23.7366 19.9609ZM20.4998 23.1977L20.1462 22.8442L19.9998 22.9906V23.1977H20.4998ZM19.9998 26.974C19.9998 27.2502 20.2236 27.474 20.4998 27.474C20.7759 27.474 20.9998 27.2502 20.9998 26.974H19.9998ZM23.7366 23.1977H23.2366V23.4048L23.3831 23.5513L23.7366 23.1977ZM27.1594 27.3276C27.3546 27.5229 27.6712 27.5229 27.8665 27.3276C28.0617 27.1323 28.0617 26.8158 27.8665 26.6205L27.1594 27.3276ZM19.3603 21.723L20.9787 16.3282L20.0209 16.0409L18.4024 21.4356L19.3603 21.723ZM20.4998 16.6846H25.3945V15.6846H20.4998V16.6846ZM25.3945 16.6846V18.3425H26.3945V16.6846H25.3945ZM20.1201 16.51L23.357 20.2863L24.1162 19.6355L20.8794 15.8592L20.1201 16.51ZM23.3831 19.6073L20.1462 22.8442L20.8533 23.5513L24.0902 20.3144L23.3831 19.6073ZM19.9998 23.1977V26.974H20.9998V23.1977H19.9998ZM23.2366 19.9609V23.1977H24.2366V19.9609H23.2366ZM23.3831 23.5513L27.1594 27.3276L27.8665 26.6205L24.0902 22.8442L23.3831 23.5513ZM25.3945 16.6846H25.3945H26.3945C26.3945 16.1323 25.9468 15.6846 25.3945 15.6846V16.6846Z" fill="#D96800"/>
                <circle cx="17.8025" cy="15.6448" r="1.61842" fill="#D96800"/>
            </svg>
        </div>
    
    {% elseif etat == 'ATTENTE' %}
        <img src="{{ asset('icones/attente.png') }}"  alt="attente" title="En attente" />
    
    {% elseif etat == 'REFUSE' %}
        <img src="{{ asset('icones/inactif.png') }}"  alt="refusé" title="Désolé, votre projet ou rallonge a été refusé par le comité d'attribution" />
    
    {% elseif etat == 'ACCEPTE'  %}
        <div title="Projet ou rallonge accepté par le comité d'attribution">
            <svg width="28" height="23" viewBox="0 0 28 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.73831 20.8093L2.05363 15.0008C0.912355 13.8347 0.912353 11.9702 2.05363 10.8041L2.24811 10.6054C3.42469 9.40317 5.35962 9.40317 6.5362 10.6054L8.45299 12.5639C9.23738 13.3654 10.5273 13.3654 11.3117 12.5639L21.4638 2.19074C22.6404 0.988535 24.5753 0.988534 25.7519 2.19073L25.9464 2.38946C27.0876 3.55558 27.0876 5.42003 25.9464 6.58615L12.0264 20.8093C10.8498 22.0115 8.91489 22.0115 7.73831 20.8093Z" fill="#15B338" stroke="#15B338"/>
            </svg>
        </div>
    
    {% elseif etat == 'ANNULE'  %}
        <img src="{{ asset('icones/inactif.png') }}"  alt="annulé" title="Cette version de projet a été annulée pour cette session" />
    
    {% elseif etat == 'NONRENOUVELE'  %}
        <img src="{{ asset('icones/nonrenouvele.png') }}"  alt="non renouvelé" title="Si vous ne demandez pas un renouvellement, vous ne pourrez plus calculer au titre de ce projet" />
    
    {% elseif etat == 'STANDBY' %}
        <div title="En attente, renouvellement possible">
            <svg width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.9146 3.56656L32.3908 28.4979C32.7779 29.1645 32.2969 30 31.526 30H3.37776C2.61771 30 2.13549 29.1856 2.50095 28.5192L16.173 3.58787C16.5473 2.90526 17.5236 2.89332 17.9146 3.56656Z" stroke="#D96800" stroke-width="2"/>
                <path d="M10.4129 21.4971L7.17965 26.7511C6.97464 27.0842 7.21432 27.5132 7.60548 27.5132H13.8028C14.3551 27.5132 14.8028 27.061 14.8028 26.5087C14.8028 24.7572 14.0374 23.0808 12.7075 21.9409L11.9154 21.2619C11.4487 20.8619 10.735 20.9736 10.4129 21.4971Z" stroke="#D96800"/>
                <path d="M15.4024 21.4356C15.3231 21.7001 15.4732 21.9789 15.7377 22.0582C16.0022 22.1376 16.2809 21.9875 16.3603 21.723L15.4024 21.4356ZM17.4998 16.1846V15.6846H17.1278L17.0209 16.0409L17.4998 16.1846ZM22.3945 18.3425C22.3945 18.6186 22.6184 18.8425 22.8945 18.8425C23.1706 18.8425 23.3945 18.6186 23.3945 18.3425H22.3945ZM20.7366 19.9609H21.2366C21.2366 19.8415 21.1939 19.7261 21.1162 19.6355L20.7366 19.9609ZM17.4998 23.1977L17.1462 22.8442L16.9998 22.9906V23.1977H17.4998ZM16.9998 26.974C16.9998 27.2502 17.2236 27.474 17.4998 27.474C17.7759 27.474 17.9998 27.2502 17.9998 26.974H16.9998ZM20.7366 23.1977H20.2366V23.4048L20.3831 23.5513L20.7366 23.1977ZM24.1594 27.3276C24.3546 27.5229 24.6712 27.5229 24.8665 27.3276C25.0617 27.1323 25.0617 26.8158 24.8665 26.6205L24.1594 27.3276ZM16.3603 21.723L17.9787 16.3282L17.0209 16.0409L15.4024 21.4356L16.3603 21.723ZM17.4998 16.6846H22.3945V15.6846H17.4998V16.6846ZM22.3945 16.6846V18.3425H23.3945V16.6846H22.3945ZM17.1201 16.51L20.357 20.2863L21.1162 19.6355L17.8794 15.8592L17.1201 16.51ZM20.3831 19.6073L17.1462 22.8442L17.8533 23.5513L21.0902 20.3144L20.3831 19.6073ZM16.9998 23.1977V26.974H17.9998V23.1977H16.9998ZM20.2366 19.9609V23.1977H21.2366V19.9609H20.2366ZM20.3831 23.5513L24.1594 27.3276L24.8665 26.6205L21.0902 22.8442L20.3831 23.5513ZM22.3945 16.6846L22.3945 16.6846H23.3945C23.3945 16.1323 22.9468 15.6846 22.3945 15.6846V16.6846Z" fill="#D96800"/>
                <circle cx="14.8025" cy="15.6448" r="1.61842" fill="#D96800"/>
            </svg>
        </div>

    {% elseif etat == 'TERMINE' %}
        <div title="Terminé">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 23L23 3" stroke="var(--third-color)" stroke-width="6" stroke-linecap="round"/>
                <path d="M23 23L3 3" stroke="var(--third-color)" stroke-width="6" stroke-linecap="round"/>
            </svg>
        </div>

    {% endif %}
{% endmacro meta_etat_graphique %}
