{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/macros_docattaches.html.twig" as gramcdocmacros %}
{% import "default/icone.html.twig" as icones %}

{% block myjavascripts %}
    <script src="{{ asset('js/projet.js') }}"></script>
{% endblock myjavascripts %}

{% block body %}

    <section id="consulter_projet" style="stroke:black">

        <div class="top_body">
            {% if app.debug and not pdf is defined %}
                <div class="info_debug">
                    <strong>DEBUG</strong>
                    <p>Type du projet {{projet.id}} = <strong>{{ projet.typeprojet}}</strong></p>
                    <p>Etat du projet {{projet.id }}= <strong>{{ projet.getEtatProjet }}</strong></p>
                    <p>Type de la version {{version.id}} = <strong>{{ version.typeversion}}</strong></p>
                    <p>Etat de la version {{version.idVersion }} = <strong>{{ version.getEtatVersion }}</strong></p>
                </div>
            {% endif %}
            {% if version.majInd != null and not pdf is defined %}
                <em>Dernière modification par {{ version.majInd }}
                    le {{ version.majStamp|date('Y-m-d H:i:s') }}</em>
            {% endif %}
        </div>

        <h2>
            Projet : {{ projet }}
            (session {{ session }})
            <br>
            <small>
                <em>{{ version.getMetaEtat }}</em>
            </small>
        </h2>

        {% if version_form is defined %}
            <section class="historique inputrond submitdyn">
                <h3>Version :
                </h3> {{ form_start(version_form) }} {{ form_widget(version_form.version) }}{{ form_widget(version_form.submit) }} {{ form_end(version_form) }}
            </section>
        {% endif %}

        {% if version.collaborateur(app.token.user) or is_granted('ROLE_ADMIN') %}
            <div class="menu">
                {{ gramcmacros.menu(menu) }}
            </div>
        {% endif %}

        {% if version.collaborateur(app.token.user) and not pdf is defined %}
            <div class="information ok">
                <h2>Liste de choses à faire pour la session {{ session }}</h2>
                <ol>
                    {% for m in menu %}
                        {% if m.todo is defined %}
                            <li>{{ m.todo|raw }}</li>
                        {%endif %}
                    {% endfor %}
                </ol>
            </div>
        {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <div class="separateur"></div>
            {% endif %}


        {% if not pdf is defined %}
            <section class="supplement">
    
            <a title="Version pdf" class="lien_supplementaire" target="_blank" href="{{ path('version_pdf', { 'id' : version.idVersion }) }}"> {{icones.pdf}}
                <p>Version pdf</p>
            </a>
    
            {% if rapport_dactivite %}
                {% if ( rapport_1 != null   ) %}
                    <a title="Rapport d'activité 2021" class="lien_supplementaire" target="_blank" href="{{ path('rapport', { 'id' : version.idVersion, 'annee' : version.getAnneeSession() - 1 }) }}"> {{icones.pdf}}
                        <p>Rapport d'activité {{ version.getAnneeSession - 1 }}</p>
                    </a>
                {%  endif %}
    
                {% if ( rapport != null ) %}
    
                    <a class="lien_supplementaire" target="_blank" href="{{ path('rapport', { 'id' : version.idVersion, 'annee' : version.getAnneeSession() }) }}"> {{icones.pdf}}
                        <p>Rapport d'activité {{ version.getAnneeSession }}</p>
                    </a>
                {%  endif %}
            {% endif %}
    
            {% if fichier_attache %}
                {% if document != null %}
                    <a class="lien_supplementaire" target="_blank" href="{{ path('document', { 'id' : version.idVersion }) }}"> {{icones.pdf}}
                        <p>Document attaché</p>
                    </a>
                {% endif %}
            {% endif %}
            {% if noconso == false %}
                <a class="lien_supplementaire conso" title="Visualiser la consommation {{version.getAnneeSession}}" data-href="{{ absolute_url(path('projet_conso', { 'id': version.projet.idProjet, 'loginname': loginname, 'annee' : version.getAnneeSession })) }}" > {{icones.consommation}}
                    <p>Visualiser ma consommation</p>
                </a>
                {# Pour les graphiques de conso #}
                <div id="dialog-compta"></div>
            {% endif %}
    
            {# Pour les figures #}
            <div id="dialog"></div>
            
            {# Pour deboguer les fonctions de generation de graphes de conso1
                <img src="data:image/png;base64, {{ conso1 }}" />
                <img src="data:image/png;base64, {{ conso2 }}" />
            #}
            </section>
        {% endif %}
    
        {% if noconso==false %}

            {% set conso     = conso_cpu[0] + conso_gpu[0] %}
            {% set quota     = conso_cpu[1]                %}
            {% if  quota != 0 %}
                {% set consop=100.0*conso/quota %}
            {% else           %}
                {% set consop=0                 %}
            {% endif %}

        {% endif %}

{% if pdf is defined %}
    <div id="I" class="details">
        <h3>I - Présentation générale</h3>
{% else %}
    <details id="I">
        <summary>{{icones.plus_summary}}{{icones.trait_summary}}I - Présentation générale</summary>
{% endif %}

        <div class="chapitre">
        {% if conso_gpu[0] > 0 %}
            <div class="information ok">
                <p>Les heures gpu sont affichées en heures
                    <strong>normalisées</strong>
                </p>
            </div>
        {% endif %}

        {% if warn_type==1 and session.etatsession != 2 %}
            <div class="information attention">
                <strong>ATTENTION</strong>
                - Vous ne pouvez demander plus de {{prj_seuil_sess}}
                heures actuellement. 
                Vous pourrez demander à nouveau des heures (sans limitation) lors de la prochaine session d'attribution.
            </div>
        {% endif %}

        <table class="table_vertical">
            <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ version.prjTitre }}</td>
                </tr>

                <tr>
                    <th>Thématique</th>
                    <td>{{ version.prjThematique }}</td>
                </tr>

                <tr>
                    <th>Sous-thématique</th>
                    <td>{{ version.prjSousThematique }}</td>
                </tr>

                {% if norattachement == false %}
                    <tr>
                        <th>Rattachement du projet</th>
                        <td>{{ version.prjRattachement }}</td>
                    </tr>
                {% endif %}

                {% set versionPrec = version.versionPrecedente1 %}
                {% if versionPrec != null %}
                    {% if versionPrec.anneeSession == version.anneeSession %}
                    <tr>
                        <th>Heures demandées session {{ versionPrec.session }}
                            <span class="petit">Y compris les rallonges</span>
                        </th>
                        <td>{{ (versionPrec.getDemHeuresTotal)|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}</td>
                    </tr>
                    {% endif %}
                {% endif %}

                <tr>
                    <th>Heures demandées session {{ session }}<br>
                        <span class="petit">Y compris les rallonges</span>
                    </th>
                    <td>{{ (version.getDemHeuresTotal)|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}
                    {% if toomuch %}
                        <span title="Demande trop forte, cf. règles d'attribution">{{ icones.attention}}</span>
                    {% endif %}
                </tr>

                {% set versionPrec = version.versionPrecedente1 %}
                {% if versionPrec != null %}
                    {% if versionPrec.anneeSession == version.anneeSession %}
                    <tr>
                        <th>Heures attribuées session {{ versionPrec.session }}<br>
                            <span class="petit">Y compris les rallonges et les pénalités éventuelles</span>
                        </th>
                        <td>{{ (versionPrec.getAttrHeuresTotal)|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}</td>
                    </tr>
                    {% endif %}
                {% endif %}

                <tr>
                    <th >Nombre d'heures attribuées session {{ session }}<br>
                    <span class="petit">Y compris les rallonges et les pénalités éventuelles</span>
                    </th>
                    <td>{{ (version.attrHeuresTotal)|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}
                    {% if version.attrHeuresEte != 0 %} <span class="attention">(dont {{ version.attrHeuresEte |number_format(0, ',', ' ')|replace({' ':'&nbsp;'}) |raw }} heures à utiliser entre le 1er Juillet et le 31 Août)</span> {% endif %}
                    </td>
                </tr>
                {% if noconso == 0 %}
                    <tr>
                        <th>Quota machine d'heures allouées pour {{ session.getAnneeSession() + 2000 }}</th>
                        <td>{{quota|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw}}</td>
                    </tr>

                    <tr>
                        <th>Nombre d'heures consommées<br>
                            <span class="petit">depuis le début de {{ session.getAnneeSession() + 2000 }}</span>
                        </th>
                        <td>{{ conso|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}
                            {% if(quota!=0) %} 
                                ({{consop|number_format(1)}} %) 
                            {% endif %}
                            {% if conso_gpu[0] != 0 %}
                                - cpu={{conso_cpu[0]|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw}} gpu={{conso_gpu[0]|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw}} ({{(100*conso_cpu[0]/conso)|number_format(1)}}% {{(100*conso_gpu[0]/conso)|number_format(1)}}%)
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>


        <p class="info_supplementaire">Les heures qui vous seront attribuées dans le cadre de ce projet sont utilisables<br/>
            <strong>jusqu'au 31 Décembre 20{{session.anneesession}}</strong>
        </p>

        <h4>Laboratoire et responsable du projet :</h4>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Statut</th>
                    <th>Laboratoire *</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{version.getResponsable }}</td>

                    <td>{% if ( not version.getResponsable == null ) %} 
                        {{version.getResponsable.Mail }}
                    {% endif %}</td>

                    <td>{% if ( not version.getResponsable == null ) %}
                        {{version.getResponsable.Statut }}
                    {% endif %}</td>

                    <td>{{version.getPrjLLabo }}</td>
                </tr>
            </tbody>
        </table>

        <p class="info_supplementaire">* Le laboratoire associé au projet est le laboratoire du responsable</p>
        <h4>Personnes participant au projet :</h4>
        <table>
            <thead>
                <tr>
                    {% if coll_login %}
                        <th>Login</th>
                        {% if version.etat==5 or version.etat == 4 %}
                            <th>User</th>
                        {% endif %}
                    {% endif %}

                    {% if nodata==false %}
                        <th title="Accès à la plateforme Callisto">Données</th>
                    {% endif %}

                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Statut</th>
                    <th>Laboratoire</th>
                    <th>Établissement</th>
                </tr>
            </thead>

            <tbody>
                {% for user in version.CollaborateurVersion %}
                    {% if not user.deleted %}
                        <tr>
                            {% if coll_login %}
                                <td>
                                    {% if( user.login == true) %}Oui{% else %}Non
                                    {% endif %}
                                </td>

                                {% if version.etat==5 or version.etat == 4 %}
                                    <td style="stroke:black;">
                                        {% if (user.login == true) %}
                                            {% if user.loginname==null %}
                                               {{icones.attention(25,25)}}
                                            {% else %}
                                                <tt>{{ user.loginname }}</tt>
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endif %}

                            {% if nodata==false %}
                                <td>
                                    {% if( user.clogin == true) %}Oui{% else %}Non
                                    {% endif %}
                                </td>
                            {% endif %}

                            <td>{{ user.Collaborateur.prenom }}</td>

                            <td>{{ user.Collaborateur.nom }}</td>

                            <td>{{ user.Collaborateur.mail }}</td>

                            <td>
                                {% if( not ( user.Collaborateur.statut == null ) ) %} {{ user.Collaborateur.statut }}
                                {% endif %}
                            </td>

                            <td>
                                {% if( not ( user.Collaborateur.labo == null ) ) %} {{ user.Collaborateur.labo.getAcroLabo }}
                                {% endif %}
                            </td>
                            
                            <td>{{ user.Collaborateur.etab }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% if version.prjFinancement != null %}
        <h4>Financement :</h4>
        <p class="financement">{{ version.prjFinancement }}</p>
        {% endif %}

        <h4>Utilisation des moyens de calcul de GENCI :</h4>
        <table>
            <thead>
                <tr>
                    <th>Centre</th>
                    <th>Machine</th>
                    <th>Heures accordées</th>
                    <th>N° de projet</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ version.prjGenciCentre }}</td>

                    <td>{{ version.prjGenciMachines }}</td>

                    <td>{{ version.prjGenciHeures }}</td>

                    <td>{{ version.prjGenciDari }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% if pdf is defined %}
    </div>
{% else %}
    </details>
{% endif %}

{% if pdf is defined %}
    <div id="II" class="details">
        <h3>II - Description scientifique du projet de recherche</h3>
{% else %}
    <details id="II">
        <summary>{{icones.plus_summary}}{{icones.trait_summary}}II - Description scientifique du projet de recherche</summary>
{% endif %}

    <div class="chapitre">

        {% if not ( version.prjJustifRenouv == null ) %}

            <h4>Justification du renouvellement :</h4>
            <div class="description">
                <p>{{ version.prjJustifRenouv | e | nl2br }}</p>
                {{ gramcdocmacros.display_images(img_justif_renou) }}
            </div>

        {% endif %}

        <h4>Résumé en anglais :</h4>
        <p class="description">{{ version.prjResume | e | nl2br }}</p>


        <h4>Exposé Scientifique :</h4>
        <div class="description"><p>{{ version.prjExpose | e | nl2br}}</p>
            {{ gramcdocmacros.display_images(img_expose) }}
        </div>

        <h4>Algorithmes utilisés :</h4>

        <p class="description">{{ version.prjAlgorithme }}</p>
        <br>

    </div>
{% if pdf is defined %}
    </div>
{% else %}
    </details>
{% endif %}

{% if pdf is defined %}
    <div id="III" class="details">
        <h3>III - Description technique du projet</h3>
{% else %}
    <details id="III">
        <summary>{{icones.plus_summary}}{{icones.trait_summary}}III - Description technique du projet</summary>
{% endif %}

    <div class="chapitre">

        <h4>Nature du calcul :</h4>
        <table>
            <thead>
                <tr>
                    <th>Conception de méthodes de calcul parallèle</th>
                    <th>Développement d'un code parallèle</th>
                    <th>Parallélisation d'un code existant</th>
                    <th>Utilisation d'un code parallèle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if( version.prjConception == true) %}
                            {{icones.valide}}
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>
                        {% if( version.prjDeveloppement == true) %}
                            {{icones.valide}}
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>
                        {% if( version.prjParallelisation == true) %}
                            {{icones.valide}}
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>
                        {% if( version.prjUtilisation == true) %}
                            {{icones.valide}}
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
                

        <h4>Description du code de calcul :</h4>
        <div class="tableaux">
            <table class="table_vertical">
                <tbody>
                    <tr>
                        <th>Nom du code</th>
                        <td>{{ version.codeNom }}</td>
                    </tr>
                    <tr>
                        <th>Langage utilisé</th>
                        <td>
                            {% if version.codeFor %}
                                Fortran
                            {% endif %}
                            {% if version.codeC %}
                                C
                            {% endif %}
                            {% if version.codeCpp %}
                                C++
                            {% endif %} {{ version.codeLangage }}
                        </td>
                    </tr>
                    <tr>
                        <th>Binaire GPU</th>
                        <td>{{ version.gpu}}</td>
                    </tr>
                    <tr>
                        <th>Licence</th>
                        <td>{{ version.codeLicence }}</td>
                    </tr>
                    <tr>
                        <th>Utilisation sur d'autres machines</th>
                        <td>{{ version.codeUtilSurMach}}</td>
                    </tr>
                    <tr>
                        <th>Estimation du temps CPU max d'un job</th>
                        <td>{{ version.codeHeuresPJob}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table_vertical">
                <tbody>
                    <tr>
                        <th>Estimation de la RAM nécessaire par cœur pour un job</th>
                        <td>{{ version.codeRamPCoeur}}</td>
                    </tr>
                    <tr>
                        <th>Nombre max de coeurs utilisables efficacement par le code</th>
                        <td>{{ version.codeEffParal}}</td>
                    </tr>
                    <tr>
                        <th>Estimation de l'espace-disque temporaire nécessaire</th>
                        <td>{{ version.codeVolDonnTmp}}</td>
                    </tr>
                    <tr>
                        <th>Logiciels nécessaires</th>
                        <td>{{ version.demLogiciels}}</td>
                    </tr>
                    <tr>
                        <th>Bibliothèques nécessaires</th>
                        <td>{{ version.demBib}}</td>
                    </tr>
                    <tr>
                        <th>Visualisation à distance</th>
                        <td>{{ version.demPostTrait}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>

    </div>

{% if pdf is defined %}
    </div>
{% else %}
    </details>
{% endif %}

{% if nodata == false %}

    {% if pdf is defined %}
    <div class="details">
        <h3>IV - Les données</h3>
    {% else %}
    <details>
        <summary>{{icones.plus_summary}}{{icones.trait_summary}}IV - Les données</summary>
    {% endif %}

        <div class="chapitre">

        <table>
            <thead>
                <tr>
                    <th>Besoin en espace disque permanent (To)</th>
                    <th>Justification de l'usage de ce stockage</th>
                    <th>Standard de métadonnées</th>
                    <th>Nombre de datasets (estimation)</th>
                    <th>Taille moyenne des datasets (estimation)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% if version.sondVolDonnPerm is null %}
                    <td>-</td>
                {% else %}
                    <td>{{ version.sondVolDonnPerm}}</td>
                {% endif %}

                {% if version.sondJustifDonnPerm is null %}
                    <td>-</td>
                {% else %}
                    <td>{{ version.sondJustifDonnPerm | e | nl2br}}</td>
                {% endif %}

                {% if version.dataMetaDataFormat is null %}
                    <td>-</td>
                {% else %}
                    <td>{{ version.dataMetaDataFormat}}</td>
                {% endif %}

                {% if version.dataNombreDatasets is null %}
                    <td>-</td>
                {% else %}
                    <td>{{ version.dataNombreDatasets}}</td>
                {% endif %}

                {% if version.dataTailleDatasets is null %}
                    <td>-</td>
                {% else %}
                    <td>{{ version.dataTailleDatasets}}</td>
                {% endif %}
                </tr>
            </tbody>
        </table>
        <br>
    </div>

    {% if pdf is defined %}
    </div>
    {% else %}
    </details>
    {% endif %}
{% endif %}

{% if pdf is defined %}
    <div class="details">
        <h3>V - Formation</h3>
{% else %}
    <details>
        <summary>{{icones.plus_summary}}{{icones.trait_summary}}V - Formation</summary>
{% endif %}
    <div class="chapitre">

        <table>
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Nombre de personnes intéressées</th>
                </tr>
            </thead>
            <tbody>
                {% for f in formation %}
                    {% if f.acro != 'ALL_EMPTY' %}
                        <tr>
                            <td>{{f.nom}}</td>
                            {% if f.rep is null %}
                            <td>0</td>
                            {% else %}
                            <td>{{f.rep}}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>Autres demandes</td>
                    <td>{{version.demformautresautres}}</td>
                </tr>
            </tbody>
        </table>

    </div>

{% if pdf is defined %}
    </div>
{% else %}
    </details>
{% endif %}
    
{% if version.etat in [ 4, 5, 6, 9 ] %}

{% if pdf is defined %}
    <div class="details">
        <h3>VI - Commentaire des experts</h3>
{% else %}
    <details>
        <summary>{{icones.plus_summary}}{{icones.trait_summary}}VI - Commentaire des experts</summary>
{% endif %}

    <div class="chapitre">

        {% for expertise in version.expertise %}
        <table class="table_vertical">
            <tbody>
                <tr>
                    <th>Nombre d'heures demandées</th>
                    <td>{{  version.demHeures|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}</td>
                </tr>
                <tr>
                    <th>Nombre d'heures attribuées</th>
                    <td>{{  expertise.nbHeuresAtt|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') or version.isExpertDe(app.user) %}
                    <tr>
                        <th>Commentaire pour le responsable</th>
                        <td>{{ expertise.commentaireExterne | e | nl2br}}</td>
                    </tr>
                    <tr>
                        <th>Commentaire pour le comité</th>
                        <td>{{ expertise.commentaireInterne | e | nl2br}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ expertise.commentaireExterne | e | nl2br}}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% endfor %}

        {% if version.rallonge is not empty %}
        <h4>Rallonges :</h4>
        <table class="table_vertical">
            <tbody>
            {% for r in version.rallonge %}
                <tr>
                    <th>Nombre d'heures demandées</th>
                    <td>{{  r.demHeures|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}</td></tr><tr>
                    <th>Nombre d'heures attribuées</th>
                    <td>{{  r.nbHeuresAtt|number_format(0, ',', ' ')|replace({' ':'&nbsp;'})|raw }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') or version.isExpertDe(app.user) %}
                <tr>
                    <th>Commentaire pour le responsable</th>
                    <td>{{ r.commentaireExterne | e | nl2br}}</td>
                </tr>
                <tr>
                    <th>Commentaire pour le comité</th>
                    <td>{{ r.commentaireInterne | e | nl2br}}</td>
                </tr>{% else %}
                <tr>
                    <th>Commentaire</th>
                    <td>{{ r.commentaireExterne | e | nl2br}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <br>
    </div>

{% if pdf is defined %}
    </div>
{% else %}
    </details>
{% endif %}

{% endif %}

</section>
{% endblock %}
