{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}


{% block body %}
<section>
    <h2>Générer et télécharger le bilan de session</h2>

    <div class="inputrond submitdyn">
    {{ form_start(form) }}
        {{ form_widget(form.session) }}{{ form_widget(form.submit) }}
    {{ form_end(form) }}
    </div>
    <br>

    <form action="{{ path('bilan_session_csv', {'id': idSession }) }}">
        <input class="telecharger_csv" type="submit" value="Générer le bilan de la session {{ idSession }} en csv" />
    </form>



</section>
<hr />

<section style="stroke:black">

    <h2>Réponses au questionnaire (session {{ idSession }})</h2>

    <form action="{{ path('questionnaire_csv', {'id': idSession } ) }}">
            <input class="telecharger_csv" type="submit" value="Télécharger en csv" />
    </form>


    <br>

        <table id="bilan_session">
        <thead>
            <tr>
                <th>Numéro</th>
                <th></th>
                <th>Heures demandées <em><small>(avec rallonges)</small></em></th>
                <th>Heures attribuées<em><small><br>(rallonges, pénalités)</small></em></th>
                <th>Heures consommées</th>
                <th>titre</th>
                <th>Thématique</th>
                <th>Responsable</th>
                <th>Laboratoire</th>
                <th>Langage</th>
                <th>GPU</th>
                <th>Nom du code</th>
                <th>Licence du code</th>
                <th>Heure/job</th>
                <th>Ram/coeur</th>
                <th>Ram partagée</th>
                <th>Efficacité parallèle</th>
                <th>Données temporaires</th>
                <th>Post-traitement</th>
                {# <th>Durée</th> #}
                {% if nodata == false %}
                    <th>meta données</th>
                    <th>nombre de datasets</th>
                    <th>taille de chaque dataset</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
        <tr>
            <td>{{ version.idVersion }}</td>
            <td>
                {% if version.projet != null and  version.projet.idProjet != null %}
                <a href="{{ path('consulter_projet', { 'id': version.projet.idProjet }) }}" title="Consulter le projet">
                    {{icones.details}}
                </a>
                {% endif %}
            </td>
            <td>{{ version.demHeurestotal }}</td>
            <td>{{ version.attrHeurestotal }}</td>
            <td>{{ serviceProjets.ConsoCalculVersion(version)}}</td>
            <td>{{ gramcmacros.afftitre(version.prjtitre) }}</td>
            <td>{{ version.prjThematique }}</td>
            <td>{{ version.responsable }}</td>
            <td>{{ version.acrolaboratoire }}</td>
            <td>{% if version.codeC %} C {% endif %}{% if version.codeCpp %} C++ {% endif %}{% if version.codeFor %} Fortran {% endif %}{{ version.codeLangage }}</td>
            <td>{{ version.gpu }}</td>
            <td>{{ version.codeNom }}</td>
            <td>{{ version.codeLicence }}</td>
            <td>{{ version.codeHeuresPJob }}</td>
            <td>{{ version.codeRamPCoeur }}</td>
            <td>{{ version.codeRamPart }}</td>
            <td>{{ version.codeEffParal }}</td>
            <td>{{ version.codeVolDonnTmp }}</td>
            <td>{{ version.demPostTrait }}</td>
            {% if nodata == false %}
                <td>{{ version.datametadataformat }}</td>
                <td>{{ version.datanombredatasets }}</td>
                <td>{{ version.datatailledatasets }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    
        <h2>Questionnaire formations</h2>
    
        <table id="formations">
        <thead>
            <tr>
                <th>Numéro</th>
                <th></th>
                {% for label in form_labels %}
                    {% if label.acro != 'ALL_EMPTY' %}
                        <th><span title="{{label.nom}}">{{label.acro}}</span></th>
                    {% endif %}
                {% endfor %}
                <th>Autres demandes</th>
            </tr>
        </thead>

        <tbody>
            {% for version in versions %}
              {% set formation = serviceVersions.buildFormations(version) %}
              {% if formation.ALL_EMPTY.rep == false %}
                    <tr>
                        <td>{{version}}</td>
                        <td>
                        {% if version.projet != null and  version.projet.idProjet != null %}
                            <a href="{{ path('consulter_projet', { 'id': version.projet.idProjet }) }}" title="Consulter le projet">
                                {{icones.details}}
                            </a>
                        {% endif %}
                        </td>
                        {% for label in form_labels %}
                            {% if label.acro != 'ALL_EMPTY' %}
                                <td>{{ formation[label.acro].rep }}</td>
                            {% endif %}
                        {% endfor %}
                        <td class="autres" >{{version.demFormAutresAutres}}</td>
                    </tr>
                    {% endif %}
            {% endfor %}
            <tr>
                <th>TOTAL</th><td>&nbsp;</td>
                {% for lbl,ttl in form_total %}
                    {% if lbl != 'ALL_EMPTY' %}<td class="total">{{ttl}}</td>{% endif %}
                {% endfor %}
            </tr>
            
        </tbody>
        </table>
 

</section>

{% endblock body %}
