{% extends 'default/base.html.twig' %}
{% form_theme edit_form with ['form_table_layout.html.twig', _self] %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block body %}
<section id="section_commentaireSession">
    <h1>Commentaire de session (session {{ session }})</h1>

    {{ form_start(edit_form) }}
    <div class="center inputrond submitdyn">
        {{ form_widget(edit_form.commGlobal,{ 'attr': { 'class': 'compteur', 'rows' : 12, 'cols' : 70 } }) }} <br>
        <input type="submit" value="Entrer le commentaire de session" />

        {{ form_end(edit_form) }}

    <div class="information attention">
    <h2>ATTENTION</h2>
    <p>Lorsque vous aurez rempli définitivement le commentaire de session, n'oubliez pas de cliquer sur "Envoyer les expertises"</p>
    </div>

    <div id="menu">
        {{ gramcmacros.menu(menu) }}
    </div>

</section>

{% endblock %}
