{% extends 'default/base.html.twig' %}

{% block body %}
    <h1>Sessions d'attribution</h1>
    
    {% import "default/macros.html.twig" as gramcmacros %}
    {{ gramcmacros.menu(menu) }}

    <div class="information">
        {% if etat_session == 1 %}
        <p class="centrage"><strong>Cliquez sur Demandes pour ouvrir la session {{ id_session }}</strong></p>
    
        {% elseif etat_session == 2 %}
        <p class="centrage"><strong>Session {{id_session}}: Les demandeurs peuvent se connecter et renouveler leurs projets, ou créer de nouveaux projets</strong></p>
        
        {% elseif etat_session == 3 %}
            <p class="centrage"><strong>
                Session {{id_session}}: Les experts peuvent se connecter et sauvegarder leurs commentaires
                {% if max_expertises_nb > 1 %} Le président peut envoyer les expertises aux utilisateurs {% endif %}
            </strong></p>
        
        {% elseif etat_session == 4 %}
        <p class="centrage"><strong>Les experts doivent envoyer leurs commentaires.
        {% if max_expertises_nb > 1 %} Le président pourra alors envoyer les expertises aux utilisateurs {% endif %}
        </strong></p>
        
    
        {% elseif etat_session == 5 %}
        <p class="centrage"><strong>La session {{id_session}} est Active, les utilisateurs peuvent calculer</strong></p>
        {% else %}
        <p class="centrage"><strong>oooooops ? session courante = {{ id_session }} - (mauvais) état = {{ etat_session }}</strong></p>
        {% endif %}
    </div>
    
    <table id="sessions">
        <thead>
            <tr>
                <th rowspan="2">id</th>
                <th>début</th>
                <th>fin</th>
                <th rowspan="2">Heures/année</th></th>
                <th rowspan="2">projets</th>
                <th rowspan="2">heures attribuées</th>
                <th rowspan="2">état</th>
            </tr>
            <tr><th colspan="2"><small>de la saisie des demandes</small></td></tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{{ path('consulter_session', { 'id': session.idSession }) }}">{{ session.idSession }}</a></td>
                <td>{% if session.dateDebutSession %}{{ session.dateDebutSession|date('Y-m-d') }}{% endif %}</td>
                <td>{% if session.dateFinSession %}{{ session.dateFinSession|date('Y-m-d') }}{% endif %}</td>
                <td>{{ session.hparannee }}</td>
                <td>{{ session.version|length }}</td>
                <td>{{ session.heuresAttribuees }}</th>
                <td>{{ session.libelleEtat }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
