{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/macros_docattaches.html.twig" as gramcdocmacros %}

<div id="tab1" class="onglet">
    <br><br>
    <h2>Présentation générale</h2>

    <div class="inputs">
        <div class="input">
            <div>
                <span>*</span> {{ form_label( form.prjTitre  ,"Titre du projet" ) }}
            </div> {{ form_widget( form.prjTitre  ,{ 'attr':{'size': '90','style' : ''}})}}
        </div>

        <div class="input"> {{ form_label( form.prjSousThematique, "Sous-thématique (éventuellement)" ) }} {{ form_widget( form.prjSousThematique ) }}
        </div>

        <div class="input"> 
            <div>
                <span>*</span> {{ form_label( form.prjThematique, "Thématique principale du projet" ) }} 
            </div>
                {{ form_widget( form.prjThematique ) }}
        </div>

        {% if norattachement == false %}
            <div class="input"> {{ form_label( form.prjRattachement, "Rattachement du projet" ) }} {{ form_widget( form.prjRattachement ) }}
            </div>
        {% endif %}

    </div>

    {# Si session en édition ... #}
    {% if session.etat == 2 %}
    <div class="information ok">
        <h2>Demande d'heures de calcul</h2>
        <p>Si votre demande d'heures de calcul est <strong>inférieure à {{ prj_seuil_sess }}</strong> 
        les heures pourront éventuellement être disponibles plus rapidement</p>
    </div>
    {% else %}
    <div class="information attention">
        <h2>Nombre d'heures limité</h2>
        <ul>
        <li>Vous ne pouvez pas <strong>demander plus de {{ prj_seuil_sess }} heures CPU</strong>.</li>
        <li>Si vous souhaitez tester votre code, nous vous conseillons de <strong>demander 5000 heures</strong></li>
        <li>Vous pourrez faire une <strong>demande plus importante</strong> lors de la prochaine session d'attribution.</li>
        </ul>
    </div>
    {% endif %}

    <div class="inputs">
        <div class="input">
        {{ form_label( form.demHeures, "Nombre d’heures CPU (heures x cœurs) demandées") }}
        {{ form_widget( form.demHeures) }}
        </div>
        <div class="input">
            {{ form_label( form.demHeures, "Durée « elapsed » cumulée des travaux en heures.gpu") }}
            {{ form_widget( form.demHeuresGpu) }}
        </div>
    </div>

    <h4>Laboratoire et responsable du projet :</h4>

    <table class="projet">
        <tbody>
            <tr>
                <th>Nom</th>
                <th>Mail</th>
                <th>Statut</th>
                <th>Laboratoire</th>
            </tr>
            <tr>
                <td>{{  version.responsable }}</td>
                <td>
                    {% if( not version.responsable == null ) %} {{  version.responsable.mail }}
                    {% endif %}
                </td>
                <td>
                    {% if( not version.responsable == null ) %} {{  version.responsable.statut }}
                    {% endif %}
                </td>
                <td>
                    {% if( not version.responsable == null ) %} {{  version.responsable.labo }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <p class="info_supplementaire">* Le laboratoire associé au projet est le laboratoire du responsable</p>

    <h4 id="collabs">Personnes participant au projet :</h4>
    <div class="information attention">
        <p><strong>Astuce :</strong>
        Commencez par l'adresse mail !</p></br>
        <p><strong>ATTENTION:</strong>
        Au moins un de vos collaborateurs doit avoir la case login cochée !</p>
    </div>

    <div id="liste_des_collaborateurs"> {{ form_widget(collaborateur_form) }}</div>

    {% if rapport_dactivite == true %}
        <div id="rapport_activite">
            <h4>Rapport d'activité de l'année précédente :</h4>

            {% if version.typeSession == 'B'  %}
                <div class="information ok">Vous n'avez pas besoin de téléverser de rapport d'activité lors d'une session B.
                    <br/>Nous vous le demanderons à la fin de l'année</div>

            {% elseif version.anneeRapport == 0 %}
                <div class="information ok">Vous n'avez pas besoin de téléverser de rapport d'activité maintenant. Nous vous le demanderons à la fin de l'année</div>

            {% else %}
            <div id="fichier_attache">
                {{ gramcdocmacros.upload_document(version, 'rapport.pdf') }}
            </div>

            {% endif %}
        </div>
    {% endif %}

    {% if version.versionPrecedente != null  %}
    <div class="textarea renouvellement">
        <div>
            <h4 id="prj_justif_renou">Justification du renouvellement : <br>
                <span id="form_prjJustifRenouv_cpt" class="petit"></span>
            </h4>
            <em>Justifiez votre demande de ressources par rapport à l'évolution de votre projet: Si la demande est importante (> 1Mh),
                vous pouvez présenter un plan de calcul détaillé.<br/>
                Citez les codes utilisés (et n'oubliez pas, le cas échéant, de mettre à jour le champ de formulaire consacré
                au code le plus utilisé)
            </em>
        </div>
            {{ form_widget(form.prjJustifRenouv,
            { 'attr': { 'class': 'compteur', 'rows' : 6, 'cols' : 70 } }) }}
    </div>

        {{ gramcdocmacros.upload_images(version, img_justif_renou) }}
    
    {% endif %}

    <div class="input financement">
        <h4>Financement :</h4>
        <div>
            {{ form_widget(form.prjFinancement ,
            { 'attr':
                {
                'size': '90',
                'style' : ''
                    }
            }) }}
            <p class="info_supplementaire">Si ce projet bénéficie d'un financement, précisez la source et le montant.</p>
        </div>
    </div>

    <h4>Ressources offertes par GENCI ces deux dernières années :</h4>
    <div class="inputs">
        <div class="input">
            <label>Centre(s)</label>
            {{ form_widget(form.prjGenciCentre, { 'attr': { 'size': '80' } }) }}
        </div>

        <div class="input">
            <label>Machine(s)</label>
            {{ form_widget(form.prjGenciMachines, { 'attr': { 'size': '80' } }) }}
        </div>

        <div id="form_genci" class="input">
            <label for="prj_genci_heures">Heures accordées</label>
            {{ form_widget(form.prjGenciHeures) }}
        </div>

        <div class="input">
            <label for="prj_genci_dari">N° de projet Dari le plus récent</label>
            {{ form_widget(form.prjGenciDari) }}
            <small>(exemple: A0070911xxx)</small>
        </div>
    </div>

    <div class="pas_genci">
        <label for="prj_genci_dari">...sinon cliquez ici !</label>
        <input class="invisible_if_no_js" type="submit" name="nogenci" id="nogenci" value="PAS DE GENCI" title="Je n'ai pas déposé de projet sur les centres nationaux"/>
    </div>


</div>
