{# ################################################################################## #}

<div id="tab3" class="onglet"><br><br>
    <h2>Description technique du projet</h2>

    <div class="inputs">

        <div class="input">
            <label for="form_prjConception">Nature du code et informations sur le code utilisé :</label>
            <div>
                <div>
                    {{ form_widget(form.prjConception) }}
                    {{ form_label(form.prjDeveloppement,"Conception de méthodes de calcul parallèle") }}
                </div>
                <div>
                    {{ form_widget(form.prjDeveloppement) }}
                    {{ form_label(form.prjDeveloppement,"Développement d'un code parallèle") }}
                </div>
                <div>
                    {{ form_widget(form.prjParallelisation) }}
                    {{ form_label(form.prjParallelisation,"Parallélisation d'un code existant") }}
                </div>
                <div>
                    {{ form_widget(form.prjUtilisation) }}
                    {{ form_label(form.prjUtilisation,"Utilisation d'un code parallèle") }}
                </div>
            </div>
        </div>

        <div class="input">
            {{ form_label(form.codeNom, "Le nom du principal logiciel que vous allez utiliser :")}}
            {{ form_widget(form.codeNom) }}
        </div>

        <div class="input">
            <label>Le langage dans lequel est programmé le logiciel</label>
            <div class="inputs_checkbox">
                <div>
                {{ form_widget(form.codeC) }}
                {{ form_label(form.codeC, "C")}}
                </div>

                <div>
                {{ form_widget(form.codeCpp) }}
                {{ form_label(form.codeCpp, "C++")}}
                </div>

                <div>
                {{ form_widget(form.codeFor) }}
                {{ form_label(form.codeFor, "Fortran")}}
                </div>

                <div class="autre">
                {{ form_widget(form.codeAutre) }} 
                {{ form_label(form.codeAutre, "Autre")}}
                {{ form_widget(form.codeLangage) }} 
                </div>
            </div>
        </div>

        <div class="input">
            {{ form_label(form.gpu, "Existe-t-il un binaire GPU pour votre application ?" ) }}
            {{ form_widget(form.gpu) }}
        </div>

    </div>

    <div class="textarea">
        <div>
            <h4>{{ form_label(form.codeLicence, "Licence de ce logiciel (libre, commercial, autre, je ne sais pas) :" ) }}</h4>
        </div>
        {{ form_widget(form.codeLicence, { 'attr': { 'rows' : 12, 'cols' : 70 } }) }}
    </div>

    <div class="textarea">
        <div>
            <h4>Avez vous déjà utilisé ce code sur une ou plusieurs machines ?</h4>
            <ul>
                <li><strong>Machines de GENCI</strong>: précisez le nom
                <li><strong>Serveur ou cluster de labo</strong> : précisez son type (processeurs, OS)
            </ul>
        </div>
        {{ form_widget(form.codeUtilSurMach, { 'attr': { 'rows' : 12, 'cols' : 70 } }) }}
    </div>

    <div class="inputs">
        <div class="input">{# #}
            {{ form_label(form.codeHeuresPJob, "Estimation du temps CPU max d'un job (heures monoprocesseur)" ) }}
            {{ form_widget(form.codeHeuresPJob) }}
        </div>
        <div class="input">{# #}
            {{ form_label(form.codeRamPCoeur, "Estimation de la RAM nécessaire par coeur pour un job" ) }}
            {{ form_widget(form.codeRamPCoeur) }}
        </div>
        <div class="input">{# #}
            {{ form_label(form.codeRamPart, "Estimation de la RAM nécessaire en mémoire partagée" ) }}
            {{ form_widget(form.codeRamPart) }}
        </div>
        <div class="input">{# #}
            {{ form_label(form.codeEffParal, "Nombre maximal de coeurs utilisables efficacement par le code" ) }}
            {{ form_widget(form.codeEffParal) }}
        </div>
        <div class="input">
            {{ form_label(form.codeVolDonnTmp, "Estimation de l'espace-disque temporaire nécessaire par job" ) }}
            {{ form_widget(form.codeVolDonnTmp) }}
        </div>
        <div class="input">
            {{ form_label(form.codeVolDonnUsr, "Volume maximal de stockage de données par utilisateur (/home et/ou /work)") }}
            {{ form_widget(form.codeVolDonnUsr) }}
        </div>
        <div class="input">
            {{ form_label(form.codeNbFichTmp, "Nombre de fichiers pour un calcul (temporaires)") }}
            {{ form_widget(form.codeNbFichTmp) }}
        </div>
        <div class="input">
            {{ form_label(form.codeNbFichPerm, "Nombre de fichiers pour un calcul (à stocker)") }}
            {{ form_widget(form.codeNbFichPerm) }}
        </div>
    </div>

    <div class="textarea">
        <div>
            <h4>{{ form_label(form.demLogiciels, "Autres logiciels nécessaires au projet :" ) }}</h4>
            </div>
        {{ form_widget(form.demLogiciels, { 'attr': { 'rows' : 5, 'cols' : 50 } }) }}
    </div>
           
    <div class="textarea">
        <div>
            <h4>{{ form_label(form.demBib, "Bibliothèques nécessaires :" ) }}</h4>
        </div>
        {{ form_widget(form.demBib, { 'attr': { 'rows' : 5, 'cols' : 50 } }) }}
    </div>

    <div class="textarea">
        <div>
            <h4>{{ form_label(form.demAutres, "Besoins techniques particuliers (préciser)" ) }}</h4>
        </div>
        {{ form_widget(form.demAutres, { 'attr': { 'rows' : 5, 'cols' : 50 } }) }}
    </div>

    <div class="input">
        <label>Pensez-vous utiliser la <a href="{{ mesoc_visu }}" target="_blank">visualisation à distance</a> ?</label>
        {{ form_widget(form.demPostTrait) }}
    </div>

</div>
