{% import "default/icone.html.twig" as icones %}

<td>
    <a class="suppression"  href="{{ path('remplacer_utilisateur',  { 'id': individu.id }) }}?" title="Supprimer">
    {{icones.supprimer}}
    </a>
</td>

<td>
    <a class="modification" href="{{ path('individu_modify',  { 'id': individu.id }) }}?" title="Modifier le profil">
        {{icones.details}}
    </a>
</td>

{# ################################################################################################# #}

{% if ( is_granted('ROLE_ALLOWED_TO_SWITCH') and not is_granted('IS_IMPERSONATOR') ) %}

<td>
    <a class="sudo" href="{{ path('sudo',  { 'id': individu.id }) }}?" title="Changer d'identité">
        {{icones.sudo(20,20)}}
    </a>
</td>

{% else %}

<td>
    &nbsp;
</td>

{% endif %}

{# ################################################################################################# #}

{% if( individu.desactive) == true %}

<td style="text-align:center">
        <span title="Désactivé par l'administrateur">{{icones.refuse(20,20)}}</span>
        &nbsp;
        <a class="activation" href="{{ path('activer_utilisateur',  { 'id': individu.id }) }}?" title="Réactiver">
            {{icones.forbidden(20,20)}}
        </a>
        <span style="display:none">0</span>

</td>

{% elseif( individu.IDP == null ) %}

<td style="text-align:center">
        <span title="Le compte peut être activé">{{icones.bientotactif(20,20)}}</span>
        &nbsp;
        <a class="activation" href="{{ path('desactiver_utilisateur',  { 'id': individu.id }) }}?" title="Désactiver">
            {{icones.forbidden(20,20)}}
        </a>
        <span style="display:none">1</span>
</td>

{% elseif( individu.desactive) == false %}

<td style="text-align:center">
        {{icones.valide(20,20)}}
        &nbsp;
        <a class="activation" href="{{ path('desactiver_utilisateur',  { 'id': individu.id }) }}?" title="Désactiver">
            {{icones.forbidden(20,20)}}
        </a>
        <span style="display:none">1</span>
</td>

{% endif %}



{# ################################################################################################# #}

{% if( individu.expert) == false %}

<td style="text-align:center">
    <a class="expert" href="{{ path('devenir_expert',  { 'id': individu.id }) }}?" title="Devenir expert">
        {{icones.expert(20,20)}}
    </a>
    <span style="display:none">0</span>
</td>

{% else %}

<td style="text-align:center; background-color:#eeeeee;">
    <a class="thematiques" href="{{ path('choisir_thematique', { 'id': individu.id }) }}?" title="Choisir les thématiques de cet expert">
        {{icones.thematique(20,20)}}
    </a>
    <a class="expert" href="{{ path('plus_expert', { 'id': individu.id }) }}?" title="Cesser d'être expert">
        {{icones.expert(20,20)}}
    </a>
    <span style="display:none">1</span>
</td>

{% endif %}

{# ################################################################################################# #}

{% if( individu.president) == true %}

<td style="text-align:right; background-color:#eeeeee;">
    <a class="admin" href="{{ path('plus_president',  { 'id': individu.id }) }}?" title="Retirer les droits de président">
        {{icones.president(20,20)}}
    </a>
    <span style="display:none">1</span>
</td>

{% else %}

<td style="text-align:left">
    <a class="admin" href="{{ path('devenir_president',  { 'id': individu.id }) }}?" title="Devenir président">
        {{icones.president(20,20)}}
    </a>
    <span style="display:none">0</span>
</td>

{% endif %}

{# ################################################################################################# #}

{% if( individu.admin) == true %}

<td style="text-align:right; background-color:#eeeeee;">
    <a class="admin" href="{{ path('plus_admin',  { 'id': individu.id }) }}?" title="Retirer les droits admin">
        {{icones.president(20,20)}}
    </a>
    <span style="display:none">1</span>
</td>

{% else %}

<td style="text-align:left">
    <a class="admin" href="{{ path('devenir_admin',  { 'id': individu.id }) }}?" title="Devenir admin">
        {{icones.president(20,20)}}
    </a>
    <span style="display:none">0</span>
</td>

{% endif %}

{# ################################################################################################# #}

{% if( individu.obs) == true %}

<td style="text-align:right; background-color:#eeeeee;">
    <a class="obs" href="{{ path('plus_obs',  { 'id': individu.id }) }}?" title="Retirer les droits obs">
        {{icones.obs(20,20)}}
    </a>
    <span style="display:none">1</span>
</td>

{% else %}

<td style="text-align:left">
    <a class="obs" href="{{ path('devenir_obs',  { 'id': individu.id }) }}?" title="Devenir obs">
        {{icones.obs(20,20)}}
    </a>
    <span style="display:none">0</span>
</td>

{% endif %}

{# ################################################################################################# #}

{% if( individu.sysadmin) == true %}

<td style="text-align:right; background-color:#eeeeee;">
    <a class="sysadmin" href="{{ path('plus_sysadmin',  { 'id': individu.id }) }}?" title="Retirer les droits sysadmin">
        {{icones.sysadmin(20,20)}}
    </a>
    <span style="display:none">1</span>
</td>

{% else %}

<td style="text-align:left">
    <a class="sysadmin" href="{{ path('devenir_sysadmin',  { 'id': individu.id }) }}?" title="Devenir sysadmin">
        {{icones.sysadmin(20,20)}}
    </a>
    <span style="display:none">0</span>
</td>

{% endif %}

{# ################################################################################################# #}

<td>{{ individu.prenom }}</td>
<td>{{ individu.nom }}</td>
<td>{{ individu.mail }}</td>
<td>{{ individu.IDP }}</td>
<td>{{ individu.creationStamp | date('Y-m-d') }}</td>
