{% extends 'default/base.html.twig' %}

{% form_theme formInd with ['form_table_layout.html.twig', _self] %}


{# ################################################################################################### #}

{% block text_widget %}
<input type="text" {{ block('widget_attributes') }} size="38" value="{{ value }}" >
{% endblock %}

{% block email_widget %}
<input type="email" {{ block('widget_attributes') }} size="38" value="{{ value }}" >
{% endblock %}

{% block _appbundle_individu_mail_label %}
<label for="mail">Courriel <span class="attention">institutionnel:</span> </label>
{% endblock %}

{% block _appbundle_individu_submit_widget %}
{{ block('submit_widget') }}
<button type="reset" id="individu_reset" style="width:10em">Effacer</button>
{% endblock %}

{% block _appbundle_individu_labo_widget %}
{{ block('choice_widget') }}
{% endblock  %}

{# ################################################################################################### #}

{% block body %}

    <h2>Modification d'un utilisateur</h2>
    <p><em>Veuillez s'il vous plait renseigner tous les champs</em></p>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div id="profil">
    {{ form_start(formInd) }}
    {{ form_widget(formInd) }}
    {{ form_end(formInd) }}
    </div>
    {% endif %}

    <h2>Suppression d'un eppn</h2>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div id="eppn">
    {{ form_start(formEppn) }}
    {{ form_widget(formEppn) }}
    {{ form_end(formEppn) }}
    </div>
    {% endif %}
    
{% endblock %}
