{% extends 'default/base.html.twig' %}

{# ################################################################################################### #}

{% block myjavascripts %}
<script  src="{{ asset('js/mail_autocomplete.js') }}" ></script>
{% endblock myjavascripts %}

{# ################################################################################################### #}


{% block body %}

    <h2>Remplacer l'utilisateur {{ individu }} par un autre utilisateur</h2>

    {% if not erreurs == null %}
        <div class="message erreur">
        {% for erreur in erreurs %}
        <p>ERREUR: {{ erreur }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <div class="information attention">
        <h2>Attention</h2>
        <p>L'utilisateur <strong>{{ individu }}</strong> est présent dans certaines structures de données, avant de le supprimer nous devons
        transférer ces données à un autre utilisateur</p>
    </div>

    <div class="information">
    {% if not CollaborateurVersion == null %}
        <h3>Collaborateur dans des projets</h3>
        <p>
        {% for item in CollaborateurVersion %}
        {{ item.version }}
        {% endfor %}
        </p>
    {% endif %}

    {% if not Expertise == null %}
        <h3>Expert pour certaines versions de projets</h3>
        <p>
        {% for item in Expertise %}
        {{ item.version }}
        {% endfor %}
        </p>
    {% endif %}

    {% if not Rallonge == null %}
        {% for item in Rallonge %}
        <p>Expert de l'expertise de la rallonge : {{ item }}</p>
        {% endfor %}
    {% endif %}

    {% if not Thematique == null %}
        {% for item in Thematique %}
        <p>Expert de la thématique : {{ item }}</p>
        {% endfor %}
    {% endif %}

    {% if Sso | length > 0 %}
        <h3>Informations de connexion (eppn)</h3>
        <p>
        {% for item in Sso%}
        {{item.eppn }}
        {% endfor %}
        </p>
    {% endif %}
    </div>
    
    <div class="center" >
    {{ form_start(form) }}
    {{ form_widget(form, { 'attr': { 'class': 'mail ui-autocomplete-input', 'size' : '70' ,'data-mail_autocomplete': path('mail_autocomplete') }}) }}
    {{ form_end(form) }}
    </div>

{% endblock %}
