{% extends 'default/base.html.twig' %}

{% block myjavascripts %}
    <script type="text/javascript" src="{{asset('js/projet.js')}}" ></script>
    <script type="text/javascript" src="{{asset('js/expertiser.js')}}" ></script>
{% endblock myjavascripts %}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        {{- form_widget(child) -}}
        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{% form_theme edit_form _self %}
{% import "default/icone.html.twig" as icones %}
{% import "default/macros_panneau_enregistrer.html.twig" as panneau_enregistrer %}

{# ######################################################################### #}

{% block body %}

<section id="expertise">
    {% if noconso==false %}
        <div id="dialog-compta"></div>
    {% endif %}

    <div id="dialog-compta"></div>

    <div class="top">
        <h2>Saisie de l'expertise de la demande de rallonge {{  rallonge }}</h2>
        <p>Projet {{rallonge.version.projet}} de <span>{{ rallonge.version.responsable }} - {{rallonge.version.acroLaboratoire }}</span></p>
    
        <div class="titre">
            <h3>{{ rallonge.version.prjTitre }}</h3>
            <p>(<strong>{{ rallonge.version.demHeuresTotal - rallonge.demHeures}}</strong> heures demandées,
            <strong>{{ rallonge.version.attrHeuresTotal }}</strong> attribuées,
            <strong>{{ rallonge.demHeures}}</strong> demandées dans cette rallonge).
            
            </p>
        </div>
    </div>

    <div class="information">
        <h2>ATTENTION</h2>
        <p>Vous ne saisissez ici que des <strong>suggestions</strong> de réponse. Le président finalisera ensuite votre réponse, il pourra:
        <ul>
            <li>Compléter le commentaire interne au comité</li>
            <li>Modifier le nombre d'heures attribuées</li>
            <li>Ajouter un commentaire qui sera envoyé au responsable du projet.</li>
        </ul>
        Lorsque vous cliquerez sur <strong>ENVOYER</strong>, seuls le président et les admins seront notifiés</p>
        <p>&nbsp;</p>

        <h2>Note sur les heures de rallonge</h2>
        <p><ol>
            <li>Les heures sont comptées en heures normalisées.</li>
            <li>Elles viennent en <strong>supplément</strong> des heures qui ont déjà été attribuées</li>
        </ol></p>
    </div>

    <div id="menu_expertiser" class="center">
        <a href="{{ path('rallonge_consulter', { 'id' : rallonge.idRallonge } ) }}" title="Consulter la demande" target="_blank">
            {{icones.details}}
            <p>Rallonge</p>
        </a>
        <a href="{{ path('consulter_projet', { 'id' : rallonge.version.projet.idProjet } ) }}" title="Consulter le projet" target="_blank">
            {{icones.details}}
            <p>Projet</p>
        </a>
        {% if noconso==false %}
            <a class="conso" title="Consommation {{anneePrec}}" data-href="{{ absolute_url(path('projet_conso', { 'id': rallonge.version.projet.idProjet, 'annee' : anneePrec })) }}">
                {{icones.consommation}}
                <p>Conso {{anneePrec}}</p>
            <a class="conso" title="Consommation {{anneeCour}}" data-href="{{ absolute_url(path('projet_conso', { 'id': rallonge.version.projet.idProjet, 'annee' : anneeCour })) }}">
                {{icones.consommation}}
                <p>Conso {{anneeCour}}</p>
            </a>
        {% endif %}
        
    </div>

    {% if not erreurs == null %}
        <div class="information attention">
        {% for erreur in erreurs %}
        <p>ERREUR: {{ erreur }}</p>
        {% endfor %}
        </div>
    {% endif %}

    {{ form_start(edit_form) }}

    <h3>Votre expertise </h3>

        <div class="input">
            <div>
                <h4>Validation :</h4>
            </div>
            <div class="validation">
                {{ form_widget(edit_form.validation)  }}
            </div>
        </div>
        <div class="textarea">
            <div>
                <h4>Commentaire pour le comité :</h4>
                <small>Ce commentaire restera au sein du comité d'attribution</small>
            </div>
            {{ form_widget(edit_form.commentaireInterne,{ 'attr': { 'class': 'compteur', 'rows' : 10, 'cols' : 100 } }) }}
        </div>
        <div class="input">
            <div>
                <h4>Nombre d'heures attribuées :</h4>
            </div>
            {{ form_widget(edit_form.nbHeuresAtt) }}
        </div>

    </div>

    {# Les boutons pour enregistrer / fermer #}
    {{ panneau_enregistrer.panneau_enregistrer(edit_form,true) }}

</section>
{% endblock %}
