{% extends 'default/base.html.twig' %}

{% block myjavascripts %}

{{ parent() }}

<script type="text/javascript" src="{{asset('js/projet.js')}}" ></script>
<script   src="{{ asset('js/compteur_caracteres.js') }}" ></script>
<script type="text/javascript" src="{{asset('js/expertiser.js')}}" ></script>

{% endblock myjavascripts %}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        {{- form_widget(child) -}}
        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{% form_theme edit_form _self %}
{% import "default/icone.html.twig" as icones %}
{% import "default/macros_panneau_enregistrer.html.twig" as panneau_enregistrer %}


{# ######################################################################### #}

{% block body %}

<section id="expertise">
    {% if noconso==false %}
        <div id="dialog-compta"></div>
    {% endif %}

    <div id="dialog-compta"></div>

    <div class="top">
        <h2>Finalisation de la réponse à la demande de rallonge {{ rallonge }}</h2>
        <p>Projet {{rallonge.version.projet}} de <span>{{ rallonge.version.responsable }} - {{rallonge.version.acroLaboratoire }}</span></p>
    
        <div class="titre">
            <h3>{{ rallonge.version.prjTitre }}</h3>
            <p>(<strong>{{ rallonge.version.demHeuresTotal - rallonge.demHeures}}</strong> heures demandées,
            <strong>{{ rallonge.version.attrHeuresTotal }}</strong> attribuées,
            <strong>{{ rallonge.demHeures}}</strong> demandées dans cette rallonge).
            
            </p>
        </div>
    </div>

    <div class="information">
        <h2>ATTENTION</h2>
            <p>En tant que président du comité d'attributions, vous devez <strong>finaliser </strong> la réponse à cette demande de rallonges<br>
            Vous pouvez:<ul>
                <li>Compléter le commentaire pour le comité</li>
                <li>Modifier le nombre d'heures attribuées</li>
                <li>Ajouter un commentaire qui sera envoyé au responsable du projet.</li>
                </ul>
            Lorsque vous cliquerez sur <strong>ENVOYER</strong>, le responsable du projet sera automatiquement notifié de votre décision.</p>
    </div>

    <div id="menu_expertiser" class="center">
        <a href="{{ path('rallonge_consulter', { 'id' : rallonge.idRallonge } ) }}" title="Consulter la demande" target="_blank">
            {{icones.details}}
            <p>Rallonge</p>
        </a>
        <a href="{{ path('consulter_projet', { 'id' : rallonge.version.projet.idProjet } ) }}" title="Consulter le projet" target="_blank">
            {{icones.details}}
            <p>Projet</p>
        </a>
        {% if noconso==false %}
            <a class="conso" title="Consommation {{anneePrec}}" data-href="{{ absolute_url(path('projet_conso', { 'id': rallonge.version.projet.idProjet, 'annee' : anneePrec })) }}">
                {{icones.consommation}}
                <p>Conso {{anneePrec}}</p>
            <a class="conso" title="Consommation {{anneeCour}}" data-href="{{ absolute_url(path('projet_conso', { 'id': rallonge.version.projet.idProjet, 'annee' : anneeCour })) }}">
                {{icones.consommation}}
                <p>Conso {{anneeCour}}</p>
            </a>
        {% endif %}
        
    </div>

    {% if not erreurs == null %}
        <div class="information attention">
        {% for erreur in erreurs %}
        <p>ERREUR: {{ erreur }}</p>
        {% endfor %}
        </div>
    {% endif %}

    {{ form_start(edit_form) }}

    <h3>La réponse finale </h3>

        <div class="input">
            <div>
                <h4>Validation :</h4>
                <small>Vous ne pouvez pas modifier la décision de l'expert-e</small>
            </div>
            <div class="validation">
                {{ form_widget(edit_form.validation)  }}
            </div>
        </div>
        <div class="textarea">
            <div>
                <h4>Commentaire pour le comité :</h4>
                <small>Ce commentaire restera au sein du comité d'attribution.
                Il a été initié par l'expert qui a examiné la demande</small>
            </div>
            {{ form_widget(edit_form.commentaireInterne,{ 'attr': { 'class': 'compteur', 'rows' : 10, 'cols' : 100 } }) }}
        </div>
        <div class="textarea commentaire_externe">
            <div>
                <h4>Commentaire :</h4>
                <small>Ce commentaire sera envoyé au responsable du projet</small></th>
            </div>
            {{ form_widget(edit_form.commentaireExterne,{ 'attr': { 'class': 'compteur', 'rows' : 10, 'cols' : 100 } }) }}
        </div>

        <div class="input">
            <div>
                <h4>Nombre d'heures attribuées :</h4>
                <small>Le nombre d'heures a été suggéré par l'expert-e, mais vous pouvez le modifier.</small>
            </div>
            {{ form_widget(edit_form.nbHeuresAtt) }}
        </div>

    </div>

    {# Les boutons pour enregistrer / fermer #}
    {{ panneau_enregistrer.panneau_enregistrer(edit_form,true) }}

</section>
{% endblock %}
