{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block myjavascripts %}
<script  type="text/javascript" src="{{ asset('js/projet.js') }}" ></script>
{% endblock myjavascripts %}


{% block body %}

<section>

<h1>Statistiques de l'année {{ annee }}{% if sess_lbl != 'AB' %} - session {{ sess_lbl }}{% endif %} </h1>

<h3>Année</h3>
{{ form_start(form) }}
{{ form_widget(form.annee) }}{{ form_widget(form.submit) }}
{{ form_end(form) }}

<h3>Session</h3>
{{ form_start(forms) }}
{{ form_widget(forms.sess_lbl) }}{{ form_widget(forms.submit) }}
{{ form_end(forms) }}


<div>
{% if sess_lbl == 'AB' %}
    <p class="centrage"><img id="bconso_allcpu" class="bouton_poussoir conso" src="{{ asset('icones/conso64.png') }}"
        alt="Consommation cpu {{annee}} - Tous les projets" title="Visualiser la consommation cpu {{annee}} - Tous les projets"
        data-href="{{ absolute_url(path('tous_projets_conso', { 'ressource' : 'cpu', 'annee' : annee})) }}"/>
    <img id="bconso_allgpu" class="bouton_poussoir conso" src="{{ asset('icones/conso64.png') }}"
        alt="Consommation gpu {{annee}} - Tous les projets" title="Visualiser la consommation gpu {{annee}} - Tous les projets"
        data-href="{{ absolute_url(path('tous_projets_conso', { 'ressource' : 'gpu', 'annee' : annee})) }}"/></p>
{% endif %}

<table id="tab_nb_projets_total_annee">
    <tbody>
        <tr>
            <th colspan="2">Bilan des projets - {{ annee }}{% if sess_lbl != 'AB' %} - session {{ sess_lbl }}{% endif %}</th>
        </tr>
        <tr>
            <th>Nombre de projets</th><td>{{ total.prj }}</td>
        </tr>
    </tbody>
</table>

<table id="tab_heures_calcul_total_annee">
<tbody>
    {% if sess_lbl == 'A' %}
    <tr>
        <th colspan="2">Demandes et attributions pour {{ annee }} - session A </th>
    </tr>
    <tr>
        <th class="left">Demandes initiales</th>
        <td class="right">{{ total.demHeuresA | number_format(0, ',', ' ') }}</td>
    </tr>
    <tr>
        <th class="left">Attributions initiales</th>
        <td class="right">{{ total.attrHeuresA|number_format(0, ',', ' ')}}</td>
    </tr>
    {% endif %}
    {% if sess_lbl == 'B' %}
    <tr>
        <th colspan="2">Demandes et attributions pour {{ annee }} - session B </th>
    </tr>
    <tr>
        <th class="left">Demandes initiales</th>
        <td class="right">{{ total.demHeuresB | number_format(0, ',', ' ') }}</td>
    </tr>
    <tr>
        <th class="left">Attributions initiales</th>
        <td class="right">{{ total.attrHeuresB|number_format(0, ',', ' ')}}</td>
    </tr>
    {% endif %}
    {% if sess_lbl == 'AB' %}
    <tr>
        <th colspan="2">Demandes et attributions pour {{ annee }}</th>
    </tr>
    <tr>
        <th class="left">Demandes initiales</th>
        <td class="right">{{ total.demHeuresP | number_format(0, ',', ' ') }}</td>
    </tr>
    <tr>
        <th class="left">Attributions initiales</th>
        <td class="right">{{ total.attrHeuresP|number_format(0, ',', ' ')}}</td>
    </tr>
    <tr>
        <th class="left">Rallonges</th>
        <td class="right">{{ total.rall|number_format(0, ',', ' ')}}</td>
    </tr>
     <tr>
        <th class="left">Demandes de rallonges</th>
        <td class="right">{{ total.demHeuresR|number_format(0, ',', ' ')}}</td>
    </tr>
    <tr>
        <th class="left">Attributions de rallonges</th>
        <td class="right">{{ total.attrHeuresR|number_format(0, ',', ' ')}}</td>
    </tr>
    <tr>
        <th class="left">Consommation</th>
        <td class="right">{{ total.consoHeuresP|number_format(0, ',', ' ')}}</td>
    </tr>
    {% endif %}
    
</tbody>
</table>

{{ gramcmacros.menu(menu) }}

<div id="dialog-compta"></div>
</div>


</section>

{# dump(struct_data) #}

{% endblock %}
