{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% block myjavascripts %}
<script  type="text/javascript" src="{{ asset('js/projet.js') }}" ></script>
{% endblock myjavascripts %}


{% block body %}

<section>

<h1>Statistiques de l'année {{ annee }}{% if sess_lbl != 'AB' %} - session {{ sess_lbl }}{% endif %} </h1>

<h3>Année</h3>
{{ form_start(form) }}
{{ form_widget(form.annee) }}{{ form_widget(form.submit) }}
{{ form_end(form) }}

<h3>Session</h3>
{{ form_start(forms) }}
{{ form_widget(forms.sess_lbl) }}{{ form_widget(forms.submit) }}
{{ form_end(forms) }}

<div class="message info">
{% if sess_lbl=='AB' %}
<p>Sont pris en compte tous les projets <strong>de session</strong> ou <strong>fil de l'eau</strong> qui ont démarré ou ont
été renouvelés en {{ annee }}</p>
{% else %}
<p>Les données de consommation ne sont pas spécifiées - Pour les voir regardez les statistiques sur l'année {{ annee }} (deux sessions)</p>
{% endif %}
<p>Les versions de projets <strong>en cours d'édition</strong> ne sont pas prises en compte</p>
</div>


<div>
{% if sess_lbl == 'AB' %}
    <p class="centrage"><img id="bconso_allcpu" class="bouton_poussoir conso" src="{{ asset('icones/conso64.png') }}"
        alt="Consommation cpu {{annee}} - Tous les projets" title="Visualiser la consommation cpu {{annee}} - Tous les projets"
        data-href="{{ absolute_url(path('tous_projets_conso', { 'ressource' : 'cpu', 'annee' : annee})) }}"/>
    <img id="bconso_allgpu" class="bouton_poussoir conso" src="{{ asset('icones/conso64.png') }}"
        alt="Consommation gpu {{annee}} - Tous les projets" title="Visualiser la consommation gpu {{annee}} - Tous les projets"
        data-href="{{ absolute_url(path('tous_projets_conso', { 'ressource' : 'gpu', 'annee' : annee})) }}"/></p>
{% endif %}

<table id="tab_nb_projets_total_annee">
    <tbody>
        <tr>
            <th colspan="2">Bilan des projets - {{ annee }}{% if sess_lbl != 'AB' %} - session {{ sess_lbl }}{% endif %}</th>
        </tr>
        <tr>
            <th>Nombre de projets</th><td>{{ total.sess.prj + total.fil.prj }}</td>
        </tr>
    </tbody>
</table>

<table id="tab_heures_calcul_total_annee">
<tbody>
    <tr>
        {% if sess_lbl == 'AB' %}<th colspan="4">Demandes, attributions, consommation pour {{ annee }}</th>{% else %}
                                 <th colspan="4">Demandes et attributions pour {{ annee }} - session {{ sess_lbl }} </th> {% endif %}
    </tr>
    <tr>
        <th>&nbsp;</th><th>Session</th><th>Fil de l'eau</th><th>Total</th>
    </tr>
    <tr>
        <th class="left">Nombre de projets</th>
        <td class="right">{{ total.sess.prj}}</td>
        <td class="right">{{ total.fil.prj}}</td>
        <td class="right">{{ total.sess.prj + total.fil.prj}}</td>
    </tr>
    <tr>
        <th class="left">Demandes initiales</th>
        <td class="right">{{ (total.sess.demHeuresA + total.sess.demHeuresB) | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ (total.fil.demHeuresA + total.fil.demHeuresB) | number_format(0, ',', ' ')}}</td>
        <td class="right">{{ (total.sess.demHeuresA + total.sess.demHeuresB + total.fil.demHeuresA + total.fil.demHeuresB ) | number_format(0, ',', ' ') }}</td>
    </tr>
    <tr>
        <th class="left">Attributions initiales</th>
        <td class="right">{{(total.sess.attrHeuresA + total.sess.attrHeuresB) | number_format(0, ',', ' ')}}</td>
        <td class="right">{{(total.fil.attrHeuresA + total.fil.attrHeuresB) | number_format(0, ',', ' ')}}</td>
        <td class="right">{{(total.sess.attrHeuresA + total.sess.attrHeuresB + total.fil.attrHeuresA + total.fil.attrHeuresB ) |number_format(0, ',', ' ')}}</td>
    </tr>
    
    <tr>
        <th class="left">Nombre de rallonges</th>
        <td class="right">{{ total.sess.rall }}</td>
        <td class="right">{{ total.fil.rall }}</td>
        <td class="right">{{ (total.sess.rall + total.fil.rall )}}</td>
    </tr>
    <tr>
        <th class="left">Demandes</th>
        <td class="right">{{ total.sess.demHeuresR | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ total.fil.demHeuresR | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ ( total.sess.demHeuresR + total.fil.demHeuresR) | number_format(0, ',', ' ')}}</td>
    </tr>
    <tr>
        <th class="left">Attributions</th>
        <td class="right">{{ total.sess.attrHeuresR | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ total.fil.attrHeuresR | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ ( total.sess.attrHeuresR + total.fil.attrHeuresR) | number_format(0, ',', ' ')}}</td>
    </tr>
    {% if sess_lbl == 'AB' %}
    <tr>
        <th class="left">Consommation CPU</th>
        <td class="right">{{ total.sess.consoHeuresCPU | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ total.fil.consoHeuresCPU | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ ( total.sess.consoHeuresCPU + total.fil.consoHeuresCPU) | number_format(0, ',', ' ')}}</td>
    </tr>
    <tr>
        <th class="left">Consommation GPU</th>
        <td class="right">{{ total.sess.consoHeuresGPU | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ total.fil.consoHeuresGPU | number_format(0, ',', ' ') }}</td>
        <td class="right">{{ ( total.sess.consoHeuresGPU + total.fil.consoHeuresGPU) | number_format(0, ',', ' ')}}</td>
    </tr>
    {% endif %}
</tbody>
</table>

{% if sess_lbl == 'AB' %}
<table>
<tbody>
    <tr><th colspan="2">Stockage (Go)</th></tr>
    <tr>
        <th class="left">Demandes</th>
        <td class="right">{{ 0|number_format(0, ',', ' ')}}</td>
    </tr>
    <tr>
        <th class="left">Attributions</th>
        <td class="right">{{ 0|number_format(0, ',', ' ')}}</td>
    </tr>
</tbody>
</table>
{% endif %}


{{ gramcmacros.menu(menu) }}

<div id="dialog-compta"></div>
</div>


</section>

{# dump(struct_data) #}

{% endblock %}
