{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}


{% block myjavascripts %}
<script type="text/javascript" src="{{ asset('js/projet.js') }}" ></script>
{% endblock myjavascripts %}


{% block body %}

<section>

<h1>Répartition des heures par {{ titre }} - {{ annee }}
{% if sess_lbl != 'AB' %} - session {{ sess_lbl }} {% endif %}
</h1>

{% set route='statistiques_' ~ titre ~ '_csv' %}
<form action="{{ path(route, { 'annee' : annee }) }}">
<input type="submit" value="Télécharger en csv les statistiques par {{titre}} - année {{ annee }}">
</form>

<br />

{% if sess_lbl == 'AB' %}
<table>
    <thead>
        <tr>
            <th>{{titre}}</th>
            <th>Nombre de projets</th>
            <th>Heures demandées</th>
            <th>Heures attribuées</th>
            <th>Consommation</th>
        </tr>
    </thead>
    <tbody>
        {% for acro in acros %}
        <tr>
            <td>{{ acro }}</td>
            <td>{{ num_projets[acro] }}</td>
            <td>{{ dem_heures[acro] }}</td>
            <td>{{ attr_heures[acro] }}</td>
            <td>{{ conso[acro] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<table>
    <thead>
        <tr>
            <th>{{titre}}</th>
            <th colspan="3">Renouvellements</th><th colspan="3">Nouveaux projets</th><th colspan="3">Total</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>Nombre de projets</th><th>Heures demandées</th><th>Heures attribuées</th>
            <th>Nombre de projets</th><th>Heures demandées</th><th>Heures attribuées</th>
            <th>Nombre de projets</th><th>Heures demandées</th><th>Heures attribuées</th>
        </tr>
    </thead>
    <tbody>
        {% for acro in acros %}
        <tr>
            <td>{{ acro }}</td>
            <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>{{ num_projets[acro] }}</td><td>{{ dem_heures[acro] }}</td><td>{{ attr_heures[acro] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<table>
    <tbody>
        <tr>
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_projets }}"  title="cliquez pour afficher la figure en taille réelle" >
            </td>
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_dem }}"   title="cliquez pour afficher la figure en taille réelle">
            </td>
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_attr }}"   title="cliquez pour afficher la figure en taille réelle">
            </td>
            {% if sess_lbl == 'AB' %}
            <td>
                <img class="figure" src="data:image/png;base64, {{ image_conso }}"   title="cliquez pour afficher la figure en taille réelle">
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>Nombre de projets par {{titre}}</td>
            <td>Nombre d'heures demandées par {{titre}}</td>
            <td>Nombre d'heures attribuées par {{titre}}</td>
            {% if sess_lbl == 'AB' %}<td>Nombre d'heures consommées par {{titre}}</td>{% endif %}
        <tr>
    </tbody>
</table>
<div id="dialog"></div>

<nav><ul><a class="lien_actif" href="{{ path('statistiques') }}" title="Statistiques">Retour aux statistiques</a></ul></nav>

</section>

{% endblock %}
