{% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}


{% block body %}
<section style="stroke:black;">
    <h1>Rattachements</h1>
    
    <div class="information">Un rattachement est une institution à laquelle est rattachée le projet. Pour chaque rattachement il y a un ou plusieurs experts associés. 
    <strong>Le rattachement prend la priorité sur les thématiques pour le choix automatique des experts.</strong></div>

    {% import "default/macros.html.twig" as gramcmacros %}
    {{ gramcmacros.menu(menu) }}

    <table id="general" >
    <thead>
    <tr>
        {% if is_granted('ROLE_ADMIN') %}<th colspan="2">&nbsp;</th>{% endif %}<th>Libellé</th>
    </tr>
    </thead>
    <tbody>
    {% for ratt in rattachements %}
        <tr>
            {% if is_granted('ROLE_ADMIN') %}
            <td>
                <a class="suppression" href="{{ path('supprimer_rattachement',{'id' : ratt.idRattachement }) }}" title="Supprimer">
                {{ icones.supprimer }}
            </td>
            <td>
                <a class="modification" href="{{ path('modifier_rattachement',{'id' : ratt.idRattachement }) }}" title="Modifier le libellé">
                {{ icones.modifier }}
            </td>
            {% endif %}
            <td>{{ ratt.libelleRattachement }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</section>

{% endblock body  %}
