{# ################################################################################## #}

<div id="tab5" class="onglet">

    <h2>Formation</h2>

	
	<h4>Êtes-vous intéressés par des formations organisée par {{mesoc}} ou un partenaire ? <br>
	<em><small>Si oui cochez indiquez le nombre de collaborateurs éventuellement intéressés</small></em></h4>

	<div class="inputs">
		{% for item in form %}
			{# On sélectionne les champs form_getDemFormN #}
			{% if item.vars.id matches '{^form_demForm[0-9]$}' %} 
			<div class="input">
				{{ form_label( item) }}
				{{ form_widget( item) }}
			</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="textarea">
		<div>
			<h4>{{ form_label(form.demFormAutresAutres) }}</h4>
		</div>
		{{ form_widget(form.demFormAutresAutres, { 'attr': { 'rows' : 5, 'cols' : 50 } }) }}
	</div>
    
    <div class="information ok"><p><strong>Contenu détaillé des formations</strong> ici:  <a href="{{ mesoc_formation }}">{{mesoc_formation}}</a></a></p>


</div>
