{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/macros_docattaches.html.twig" as gramcdocmacros %}

<div id="tab1" class="onglet">
    <br><br>
    <h2>Présentation générale</h2>

    <div class="inputs">
        <div class="input">
            <div>
                <span>*</span> {{ form_label( form.prjTitre  ,"Titre du projet" ) }}
            </div> {{ form_widget( form.prjTitre  ,{ 'attr':{'size': '90','style' : ''}})}}
        </div>

        <div class="input"> {{ form_label( form.prjSousThematique, "Sous-thématique (éventuellement)" ) }} {{ form_widget( form.prjSousThematique ) }}
        </div>

        <div class="input"> 
            <div>
                <span>*</span> {{ form_label( form.prjThematique, "Thématique principale du projet" ) }} 
            </div>
                {{ form_widget( form.prjThematique ) }}
        </div>

        {% if norattachement == false %}
            <div class="input"> {{ form_label( form.prjRattachement, "Rattachement du projet" ) }} {{ form_widget( form.prjRattachement ) }}
            </div>
        {% endif %}

    </div>

    <div class="information ok">
        <h2>A savoir...</h2>
        <h3>Heures normalisées</h3>

        <ul>
            <li>Les heures que vous demandez seront utilisables indifféremment sur des noeuds CPU ou des noeuds avec GPU.</li>
            <li>Sur un nœud GPU:
                <ul>
                    <li>Les heures utilisées seront converties en heures cpu avec un coefficient de conversion égal à 33 par GPU.</li>
                    <li>Les heures CPU
                        <strong>ne seront pas comptées</strong>
                    </li>
                </ul>
            </li>
            <li>Si vous pensez utiliser les noeuds GPU
                <strong>vous devez prendre en compte ce coefficient de conversion</strong>.</li>
            <li>Votre demande d'heures totale intègre vos besoins en usage des noeuds CPU
                <strong>et vos besoins en usage des noeuds GPU</strong>.</li>
        </ul>

        <h3>Quelques exemples:</h3>
        <ul>
            <li>Un calcul utilisant
                <strong>1 cœur</strong>
                et
                <strong>1 GPU</strong>
                durant
                <strong>1 heure</strong>
                comptera
                <strong>33 heures</strong>
            </li>
            <li>Un calcul utilisant
                <strong>2 cœurs</strong>
                et
                <strong>2 GPUs</strong>
                durant
                <strong>1 heure</strong>
                comptera 2x33=<strong>66 heures</strong>
            </li>
            <li>Un calcul utilisant
                <strong>36 cœurs</strong>
                et
                <strong>4 GPUs</strong>
                durant
                <strong>1 heure</strong>
                comptera 4x33 =
                <strong>132 heures</strong>
            </li>
        </ul>

        <p>Plus de détails
            <a href="{{mesoc_web}}">
                <strong>sur notre site web</strong>
            </a>
        </p>

        {% if version.typeSession == 'B'  %}
        <h2 class="sessionB">Session B</h2>
        <p>Les heures que vous allez demander viennent
            <strong>en supplément</strong>
            des heures que vous avez déjà reçues en session A (attribution initiale et rallonges).</p>
        {% endif %}
    </div>

    <div class="inputs">
        <div class="input">
        {{ form_label( form.demHeures, "Nombre d'heures demandées") }}
        {{ form_widget( form.demHeures) }}
        </div>
    </div>

    <h4>Laboratoire et responsable du projet :</h4>

    <table class="projet">
        <tbody>
            <tr>
                <th>Nom</th>
                <th>Mail</th>
                <th>Statut</th>
                <th>Laboratoire</th>
            </tr>
            <tr>
                <td>{{  version.responsable }}</td>
                <td>
                    {% if( not version.responsable == null ) %} {{  version.responsable.mail }}
                    {% endif %}
                </td>
                <td>
                    {% if( not version.responsable == null ) %} {{  version.responsable.statut }}
                    {% endif %}
                </td>
                <td>
                    {% if( not version.responsable == null ) %} {{  version.responsable.labo }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <p class="info_supplementaire">* Le laboratoire associé au projet est le laboratoire du responsable</p>

    <h4 id="collabs">Personnes participant au projet :</h4>

    <div class="information ok">
    {% if resp_peut_modif_collabs %}
        <p><strong>Pour ajouter un collaborateur:</strong></p>
        <ol>
        <li>Ajoutez votre collaborateur <strong>en commençant par l'adresse mail</strong></li>
        <li>Renseignez <strong>au moins</strong> le prénom et le nom</li>
        <li>Eventuellement ajoutez une ligne au formulaire pour entrer un nouveau collaborateur</li>
        <li>Cliquez sur le bouton <strong>Sauvegarder</strong></li>
        </ol>

        <p><strong>NOTE - </strong> Il <em>n'est pas nécessaire</em> de déclarer ici les personnes qui collaborent au projet
        sans utiliser la machine (c-à-d les personnes n'ayant pas de login calcul ou données)</p>

        <p><strong>NOTE - </strong> Il <em>au moins une personne</em> doit avoir un login !</p>
    {% else %}
        <p><strong>Pour ajouter un collaborateur:</strong></p>
        <ol>
        <li>Renseignez <strong>d'abord</strong> son adresse de courriel, <strong>puis</strong> ses nom et prénom</li>
        <li>Il ou elle pourra recevoir une invitation pour se connecter à cette plateforme, et <strong>complètera son profil</strong> à cette occasion</li>
        <li>Eventuellement ajoutez une ligne au formulaire pour entrer à nouveau un <strong>collaborateur</strong></li>
        <li>Cliquez sur le bouton <strong>Sauvegarder</strong></li>
        </ol>
    
        <p><strong>NOTE - </strong> Il <em>n'est pas nécessaire</em> de déclarer ici les personnes qui collaborent au projet
        mais qui ne demandent pas d'accès aux services de calcul ou de données</p>

        <p><strong>NOTE - </strong> Il <em>au moins une personne</em> doit avoir un login !</p>
    {% endif %}
    </div>

    <div id="liste_des_collaborateurs"> {{ form_widget(collaborateur_form) }}</div>

    {% if rapport_dactivite == true %}
        <div id="rapport_activite">
            <h4>Rapport d'activité de l'année précédente :</h4>

            {% if version.typeSession == 'B'  %}
                <div class="information ok">Vous n'avez pas besoin de téléverser de rapport d'activité lors d'une session B.
                    <br/>Nous vous le demanderons à la fin de l'année</div>

            {% elseif version.anneeRapport == 0 %}
                <div class="information ok">Vous n'avez pas besoin de téléverser de rapport d'activité maintenant. Nous vous le demanderons à la fin de l'année</div>

            {% else %}
            <div id="fichier_attache">
                {{ gramcdocmacros.upload_document(version, 'rapport.pdf') }}
            </div>

            {% endif %}
        </div>
    {% endif %}

    {% if version.versionPrecedente != null  %}
    <div class="textarea renouvellement">
        <div>
            <h4 id="prj_justif_renou">Justification du renouvellement : <br>
                <span id="form_prjJustifRenouv_cpt" class="petit"></span>
            </h4>
            <em>Justifiez votre demande de ressources par rapport à l'évolution de votre projet: Si la demande est importante (> 1Mh),
                vous pouvez présenter un plan de calcul détaillé.<br/>
                Citez les codes utilisés (et n'oubliez pas, le cas échéant, de mettre à jour le champ de formulaire consacré
                au code le plus utilisé)
            </em>
        </div>
            {{ form_widget(form.prjJustifRenouv,
            { 'attr': { 'class': 'compteur', 'rows' : 6, 'cols' : 70 } }) }}
    </div>

    {{ gramcdocmacros.upload_images(version, img_justif_renou) }}
    
    {% endif %}

    <div class="input financement">
        <h4>Financement :</h4>
        <div>
            {{ form_widget(form.prjFinancement ,
            { 'attr':
                {
                'size': '90',
                'style' : ''
                    }
            }) }}
            <p class="info_supplementaire">Si ce projet bénéficie d'un financement, précisez la source et le montant.</p>
        </div>
    </div>

    <h4>Ressources offertes par GENCI ces deux dernières années :</h4>
    <div class="inputs">
        <div class="input">
            <label>Centre(s)</label>
            {{ form_widget(form.prjGenciCentre, { 'attr': { 'size': '80' } }) }}
        </div>

        <div class="input">
            <label>Machine(s)</label>
            {{ form_widget(form.prjGenciMachines, { 'attr': { 'size': '80' } }) }}
        </div>

        <div id="form_genci" class="input">
            <label for="prj_genci_heures">Heures accordées</label>
            {{ form_widget(form.prjGenciHeures) }}
        </div>

        <div class="input">
            <label for="prj_genci_dari">N° de projet Dari le plus récent</label>
            {{ form_widget(form.prjGenciDari) }}
            <small>(exemple: A0070911xxx)</small>
        </div>
    </div>

    <div class="pas_genci">
        <label for="prj_genci_dari">...sinon cliquez ici !</label>
        <input class="invisible_if_no_js" type="submit" name="nogenci" id="nogenci" value="PAS DE GENCI" title="Je n'ai pas déposé de projet sur les centres nationaux"/>
    </div>


</div>
