{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}


{# ######################################################################### #}

{% block body %}
<h2>Responsables n'ayant pas encore renouvelé leur projet pour la session {{session }}</h2>

<section>
    <div class="information">Le message sera envoyé aux responsables des projets que vous avez sélectionnés </div>

    <p>{{ form_start(form) }}</p>

    <table><tbody>
    {% for responsable in responsables %}
    <tr>
        <td>{{ form_widget(responsable.selform ) }}</td>
        <td>{{ responsable.responsable.prenom }}</td>
        <td>{{ responsable.responsable.nom }}</td>
        <td>{{ responsable.responsable.mail }}</td>
        <td>
        {% for projet in responsable.projets %}
        {# TODO - projet.versionactive NE MARCHE PLUS !!! #}
        {{ projet }} <small>({{ projet.versionactive.attrHeuresTotal|number_format(0, ',', ' ') }}h)</small>
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody></table>

    <div class="center inputrond submitdyn ">
    <p>
    {{ form_widget( form)}}
    {{ form_end(form) }}
    </p>
    </div>
</section>
{% endblock body %}
