{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}

{% import "default/icone.html.twig" as icones %}

{% block body %}

<section id="section_anciennes_expertises">

    <h1>Expertise de la version {{expertise.version}} par {{ expertise.expert }}</h1>

    <div class="commentaire">
        <h4>Commentaire pour le comité :</h4>
        <p>{{ expertise.commentaireInterne }}</p>
    </div>

    <div class="commentaire">
        <h4>Commentaire envoyé au responsable de projets :</h4>
        <p>{{ expertise.commentaireExterne}}</p>
    </div>

    <div class="heures">
        <h4>Heures attribuées :</h4>
        <p>{{ expertise.nbHeuresAtt}}
        {% if expertise.nbHeuresAttEte != 0 %} dont {{ expertise.nbHeuresAttEte }} cet été. {% endif %}
        </p>
    </div>

    <a href="{{ path('consulter_version', { 'id': expertise.version.projet.idProjet, 'version': expertise.version.idVersion }) }}" title="Consulter la version" class="consulter">
        Consulter la version
    </a>

</section>

{% endblock %}
