{% extends 'default/base.html.twig' %}

{# ############################################################################################################################ #}

{% block body %}

<section>
    <h1>Confirmation d'envoi de l'expertise</h1>

    <div class="message info">Merci de vérifier votre expertise avant envoi définitif</div>

    <table class="projet">
        <tbody>
            <tr>
                <th>Numéro de projet</th>
                <td>{{ expertise.version.projet }}</td>
            </tr>
            {% if max_expertises_nb == 1 or is_granted('ROLE_PRESIDENT') %}
            <tr>
                <th>Validation</th>
                <td>
                    <strong>
                        {% if( expertise.validation == 0 ) %}
                        REFUSER ET FERMER LE PROJET
                        {% elseif( expertise.validation == 1 ) %}
                        ACCEPTER
                        {% endif %}
                    </strong>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Heures attribuées</th>
                <td>{{ expertise.nbHeuresAtt}}</td>
            </tr>
            <tr>
                <th>Commentaire interne</th>
                <td>{{ expertise.commentaireInterne }}</td>
            </tr>
        </tbody>
    </table>

	{% if is_granted("ROLE_PRESIDENT") %}
    <div class="message info">
        <h2>Notifications</h2>
        <p>Si le projet est <strong>accepté</strong>,
        un courriel sera envoyé au responsable de projet avec votre commentaire<br>
        <p>Si le projet est <strong>refusé</strong>, le président du comité d'attribution devra prendre contact avec l'utilisateur.</p>
    </div>
	{% else %}
	    <div class="message info">
	        <h2>Notifications</h2>
	        <p>Un courriel sera envoyé au président du comité d'attribution avec votre commentaire et votre proposition.</p>
	    </div>
	{% endif %}

        <div class="message warning">
            <strong>Confirmez-vous cette expertise ? </strong><br>
            {{ form_start(edit_form)  }}
            {{ form_widget(edit_form)  }}
            {{ form_end(edit_form) }}
        </div>
    </section>
{% endblock %}
